<?php
    /*
     * GH 12.3.2015:
     * we need this snippet because of the custom attribute data-searchClass
     * data-searchClass is used for the export function which depends on the SearchClass in case of multiple tabs
     * compare: https://github.com/swissbib/vufind/issues/232
     * we have to think about better solutions with no relation to any semantics and annotations
     * at the moment we need a solution for going public
     * Think about:
     * - discussion with list (do they support a bulk export for the result list (I guess not at the moment)
     * - more effective css selectors to search for the correct elements within the DOM structure
     * ...
     */

?>
<?php $searchTabs = $this->searchtabs()->getTabConfig($this->searchClassId, $this->lookfor, $this->searchIndex, $this->searchType, $this->hiddenFilters); ?>
<?php if (count($searchTabs) > 0): ?>
    <ul class="nav nav-tabs">
        <?php foreach ($searchTabs['tabs'] as $tab): ?>
            <li<?=$tab['selected'] ? ' class="active"' : ''?>  data-searchClass="<?=  $tab['class'] ?>"  >
                <a <?=$tab['selected'] ? '' : 'href="' . $this->escapeHtmlAttr($tab['url']) . '"' ?> title="<?= $this->transEsc($tab['label'] . '.title')?> "><?=$this->transEsc($tab['label']); ?></a>
            </li>
        <?php endforeach; ?>
    </ul>
<?php endif; ?>