<?php
$suggestions = $this->results->getSpellingSuggestions();
$query = $this->results->getUrlQuery();
?>

<?php if ($recordTotal === 0): ?>
    <div class="results-top row">
        <div class="col-md-9">
            <h1><i class="fa fa-search"></i> <span><?=$this->transEsc('nohit_heading')?></span></h1>
        </div>
    </div>
<?php endif; ?>

<!-- SOLR suggestions -->
<?php if (!empty($suggestions) && !is_array($suggestions) &&
    $suggestions instanceof Swissbib\VuFind\Search\Solr\SpellingResults && $suggestions->hasSuggestions()) : ?>

    <div class="alert">
        <p><?=$this->transEsc('Your search terms')?>: <?= $suggestions->getSpellingQuery()->getAllTerms() ?></p>
    </div>

    <div class="alert">
    <h4><?=$this->transEsc('nohit_spelling') ?></h4>
    <!--            <span>suggestions for: --><?//= $suggestions->getSpellingQuery()->getAllTerms() ?><!--</span>-->

    <?php if ($suggestions->hasCollocations()) :?>
        <!--            <p>Collocation queries</p>-->
        <?php foreach($suggestions->getCollocationSuggestions() as $collocation) :?>
            <p><a href="<?=$this->url('search-results')?>?lookfor=<?=urlencode($collocation['query'])?>"><?=$this->escapeHtml($collocation['query']) ?></a></p>
        <?php endforeach ?>
    <?php endif; ?>

    <?php if ($suggestions->hasTerms()) :?>
        <!--                <p>suggestions based on single terms</p> <p>&nbsp;</p>-->
        <?php foreach($suggestions->getTermSuggestions() as $key => $termValues) :?>
            <!--                        <p>suggestions for: --><?//= $key ?><!--</p>-->
            <?php foreach ($termValues as $termValue): ?>
                <p><a href="<?=$this->url('search-results')?>?lookfor=<?=urlencode($termValue['query'])?>"><?=$this->escapeHtml($termValue['query']) ?></a></p>
            <?php endforeach; ?>
            <!--                        --><?// // paragraph element with nbsp is not really nice - look for better css classes?>
            <!--                        <p>&nbsp;</p>-->
        <?php endforeach ?>
        </div>

    <?php endif; ?>

<!-- other suggestions (summon) -->
<?php elseif (!empty($suggestions) && is_array($suggestions)) : ?>
    <?php if ($recordTotal === 0): ?>
        <?php
        // we have to expect an array type for suggestions delivered by Summon (actually it seems all the targets implemented by VF2 core deliver array structures for spelling suggestions
        //which is not really nice...
        foreach ($suggestions as $term => $details):
            ?>


            <div class="alert">
                <p><?=$this->transEsc('Your search terms')?>: <?= $this->escapeHtml($term) ?></p>
            </div>

            <div class="alert">
                <h4><?=$this->transEsc('nohit_spelling') ?></h4>
                <!--                suggestions for: --><?//= $key ?>
                <?php foreach ($details['suggestions'] as $word => $data) : ?>

                        <p><a href="<?=$this->url('summon-search')?>?lookfor=<?=urlencode($data['new_term'])?>"><?=$this->escapeHtml($data['new_term']) ?></a></p>

                <?php endforeach; ?>

            </div>

        <?php  endforeach; ?>
    <?php endif; ?>

<?php endif; ?>


<?php if ($recordTotal === 0): ?>
    <div class="alert">
        <h4><?=$this->transEsc('nohit_suggest') ?></h4>
        <!--                <p>--><?//=$this->transEsc('nohit_text1') ?><!--</p>-->
        <!--                <p>--><?//=$this->transEsc('nohit_text2') ?><!--</p>-->
        <?php if($searchClassId !== 'Summon'): ?>
            <p><?=$this->transEsc('nohit_text3') ?><a href="<?=$this->url('summon-search')?>?lookfor=<?=$lookfor ?>" target="_self"><?=$this->transEsc('tab.summon') ?></a></p>
        <?php endif; ?>
        <p><?=$this->transEsc('nohit_text3') ?><a href="https://www.swissbib.ch/Search/Results?lookfor=<?=$lookfor ?>" target="_blank"><?=$this->transEsc('swissbib') ?></a></p>
        <p><?=$this->transEsc('nohit_text3') ?><a href="http://www.worldcat.org/search?qt=worldcat_org_all&q=<?=$lookfor ?>" target="_blank"><?=$this->transEsc('worldcat') ?></a></p>
    </div>

    <div class="alert">
        <h4><?=$this->transEsc('nohit_tip') ?></h4>
        <p><a href="<?=$this->url('help-page', ['topic' => 'search'])?>"><?=$this->transEsc('Search Tips')?></a></p>
        <p><a href="<?=$this->url('help-page', ['topic' => 'faq'])?>"><?=$this->transEsc('helppage.faq')?></a></p>
        <p><a href="<?=$this->url('search-advanced')?>"><?=$this->transEsc('Advanced Search')?></a> <?=$this->transEsc('nohit_text5') ?> </p>
    </div>
<?php endif; ?>



