<?php

if ($this->serverUrl() == 'https://shibdev.swissbib.ch') {
    ///AAI test federation
    $wayfUrl = 'https://wayf-test.switch.ch/aaitest/WAYF';
    $embeddedWayfJsUrl = 'https://wayf-test.switch.ch/aaitest/WAYF/embedded-wayf.js';
    $loginEduId = 'https://login.test.eduid.ch';
} else {
    ///Productive AAI federation
    $wayfUrl = 'https://wayf.switch.ch/SWITCHaai/WAYF';
    $embeddedWayfJsUrl = 'https://wayf.switch.ch/SWITCHaai/WAYF/embedded-wayf.js';
    $loginEduId = 'https://login.eduid.ch';
}
$encodedProviderID = urlencode($this->serverUrl() . "/" . "shibboleth");
$encodedTarget = urlencode($this->serverUrl() . "/MyResearch/Home");
$encodedprivateUserURL = $loginEduId . "/idp/profile/SAML2/Unsolicited/SSO?providerId=" . $encodedProviderID . "&target=" . $encodedTarget;
?>

<style>
    .wayf_submit_button {
        background-color: #0d785b;
        border-color: #0d785b;
    }
</style>


<?= $this->transEsc('login.choose.option') ?>
<script type="text/javascript"><!--
    // To use this JavaScript, please access:
    // https://wayf.switch.ch/SWITCHaai/WAYF/embedded-wayf.js/snippet.html
    // and copy/paste the resulting HTML snippet to an unprotected web page that
    // you want the embedded WAYF to be displayed


    //////////////////// ESSENTIAL SETTINGS ////////////////////

    // URL of the WAYF to use
    // Examples: "https://wayf.switch.ch/SWITCHaai/WAYF", "https://wayf-test.switch.ch/aaitest/WAYF";
    // [Mandatory]
    var wayf_URL = "<?= $wayfUrl ?>";

    //var wayf_width  = 100;

    // EntityID of the Service Provider that protects this Resource
    // Examples: "https://econf.switch.ch/shibboleth", "https://dokeos.unige.ch/shibboleth"
    // [Mandatory]
    var wayf_sp_entityID =  <?= '"' . $this->serverUrl() . "/shibboleth" . '"'; ?>;

    // Shibboleth Service Provider handler URL
    // Examples: "https://point.switch.ch/Shibboleth.sso", "https://rr.aai.switch.ch/aaitest/Shibboleth.sso"
    // [Mandatory, if wayf_use_discovery_service = false]
    var wayf_sp_handlerURL = <?= '"' . $this->serverUrl() . "/Shibboleth.sso" . '"'; ?>;

    // URL on this resource that the user shall be returned to after authentication
    // Examples: "https://econf.switch.ch/aai/home", "https://olat.uzh.ch/my/courses"
    // [Mandatory]
    var wayf_return_url = <?= '"' . $this->serverUrl() . "/MyResearch/Home" . '"'; ?>;


    //more configuration settings see:
    //shibboleth repository notes/login_form.phtml


    //////////////////// RECOMMENDED SETTINGS ////////////////////


    var wayf_hide_categories = new Array("tertiaryb", "uppersecondary");

    var wayf_unhide_idps = new Array();


    var wayf_hide_idps = new Array("https://eduid.ch/idp/shibboleth", "https://test.eduid.ch/idp/shibboleth");

    var wayf_use_improved_drop_down_list = false;

    var wayf_show_remember_checkbox = false;

    var wayf_border_color = '#ccc';

    //var wayf_overwrite_submit_button_text = 'Go';

    //var wayf_overwrite_intro_text = '';

    var wayf_hide_logo = false;


    var wayf_background_color = '#f7f7f7';
    //////////////////// ADVANCED SETTINGS ////////////////////

    var wayf_sp_samlDSURL = <?= '"' . $this->serverUrl() . "/Shibboleth.sso/Login" . '"'; ?>;


    //////////////////// ADDITIONAL CSS CUSTOMIZATIONS ////////////////////



    //-->
</script>



<noscript>
    <div class="status_error">
        <?= $this->transEsc('login.error.no.js') ?>
    </div>
</noscript>



<div class="row">
    <div class="col-md-6">
        <h3><?= $this->transEsc('login.aai') ?></h3>
        <?= $this->transEsc('logininfo.li.1') ?>
        <p>
            <script type="text/javascript"
                    src="<?= $embeddedWayfJsUrl ?>"></script>
        <noscript>
            <?php $sessionInitiator = empty($sessionInitiator) ? '' : $sessionInitiator; // initialize variable?>
            <a href="<?= $this->escapeHtml($sessionInitiator) ?>"><?= $this->transEsc("Institutional Login with external WAYF - non Java Script") ?></a>
        </noscript>
        </p>

    </div>
    <div class="col-md-6">
        <h3><?= $this->transEsc('login.guest') ?></h3>
        <?= $this->transEsc('logininfo.li.2') ?>
        <p></p>
        <p class="text-center">
            <a href="<?= $encodedprivateUserURL ?>">
                <button class="btn btn-primary">
                    <?= $this->transEsc('login.guest2') ?>
                </button>
            </a>
        </p>

    </div>
</div>


<div class="status information">

    <p><?= $this->transEsc('logininfo.line.2') ?><?= $this->transEsc('logininfo.line.3') ?></p>



    <h3><?= $this->transEsc('logininfo.title.1') ?></h3>

    <p><?= $this->transEsc('logininfo.line.4') ?></p>
</div>
