<h1>A proposito di swissbib</h1>
<h2>Che cos’è swissbib?</h2>
<p>
    Swissbib è un catalogo nazionale che consente di eseguire una ricerca simultanea nei cataloghi di biblioteche universitarie,
    scuole universitarie professionali, istituti di ricerca, nonché in quello della Biblioteca nazionale e di molte altre istituzioni.
    E’ possibile utilizzare swissbib per fare una ricerca, visualizzare i risultati e conoscere in quali biblioteche sono presenti
    i documenti ricercati.
</p>

<h2>Cosa posso trovare in swissbib?</h2>
<p>
    Swissbib elenca in 21 milioni di notizie bibliografiche le collezioni di oltre 900 biblioteche, mediateche e archivi di tutte
    le regioni della Svizzera. Fornisce l'accesso, utilizzando un'unica interfaccia, a libri, periodici, tesi, e-book, documenti
    digitalizzati, filmati, spartiti musicali, supporti audio, foto, diapositive, materiale didattico, corsi di lingua e molto altro ancora.
</p>

<h2>Come cercare in swissbib?</h2>
<p>
    Swissbib offre una funzione di ricerca semplice, che può essere raffinata con <a class="help-link" data-lightbox href="<?=$this->url('help-home')?>?topic=search" title="<?= $this->transEsc('Search Tips') ?>">molte opzioni</a>
    e una funzione di <a href="<?= $this->url('search-advanced') ?>" title="<?= $this->transEsc('Advanced Search') ?>">ricerca avanzata</a>.
    I risultati vengono visualizzati in un ordine di rilevanza definito in modo trasparente, ma possono anche essere ordinati per autore, per titolo oppure in ordine
    cronologico. La possibilità di utilizzare filtri che rispondono a differenti criteri permette di ulteriormente affinare la ricerca.
</p>

<h2>Come accedere al documento desiderato?</h2>
<p>
    L’icona <i class="fa fa-institution"></i> indica il numero e, a seguito di un clic, le denominazioni delle biblioteche in possesso
    di una copia. Cliccando sul nome della biblioteca scelta, si possono ottenere maggiori informazioni. Nel caso il documento
    desiderato sia liberamente disponibile in formato digitale, attraverso l'icona <i class="fa fa-external-link"></i> viene offerto un
    collegamento diretto.
</p>
<p>
    Visualizzando la notizia bibliografica nel suo formato completo, la scheda "esemplari" fornisce informazioni su localizzazione, segnatura
    e disponibilità. Per il prestito o la richiesta, swissbib reindirizza ai cataloghi regionali delle reti bibliotecarie svizzere, presso i
    quali sarà necessario identificarsi.
</p>

<h2>A cosa serve autenticarsi in swissbib?</h2>
<p>
    Autenticarsi nella connessione a swissbib, consente di personalizzare diverse funzionalità:
</p>
<ul class="list">
    <li>ripetere una precedente ricerca</li>
    <li>registrare alcune biblioteche come Le mie biblioteche</li>
    <li>salvare liste</li>
    <li>configurare l'interfaccia di ricerca (lingua, lunghezza degli elenchi dei risultati)</li>
</ul>
<p>
    <strong>Senza</strong> autenticazione, al momento della chiusura del browser, vengono perse le impostazioni predisposte.
</p>

<h2>Come funziona l’autenticazione in swissbib?</h2>
<p>
    Poiché swissbib è un servizio sovraregionale, l’autenticazione viene effettuata indipendentemente dall’affiliazione a
    una specifica biblioteca. Sono disponibili due opzioni:
</p>
<ul class="list">
    <li>
        <strong>switchAAI:</strong> studenti e personale di università, scuole universitarie professionali e altre istituzioni
        educative e di ricerca, possono connettersi tramite il servizio nazionale di switch. L'accesso è fornito da queste
        istituzioni e viene utilizzato anche per servizi come VPN o le piattaforme di e-learning
        (<a href="https://www.switch.ch/services/aai/" target="_blank" title="Info switchAAI">ulteriori informazioni</a>).
    </li>
    <li>
        <strong>SWITCH edu-ID:</strong> Questo accesso switch è concepito per gli utenti che non sono affiliati a un
        istituto di studi superiori e che dunque non potrebbero autenticarsi utilizzando switchAAI
        (<a href="https://projects.switch.ch/eduid/" target="_blank" title="Info SWITCH edu-ID">ulteriori informazioni</a>).
    </li>
</ul>

<h2>Disconnessione</h2>
<p>
    Se si è connessi a un computer pubblico, è buona cosa uscire dall’applicazione e di seguito <strong>chiudere il browser</strong> per evitare
    che l’account possa essere utilizzato da altra persona.
</p>

<h2>Swissbib è aggiornato regolarmente?</h2>
<p>
    I dati contenuti in swissbib vengono aggiornati a cadenza quotidiana.
</p>