<h1>Servizi</h1>
<p>
    Swissbib offre tra gli altri i seguenti servizi:
</p>

<h2>Maschera di ricerca</h2>
<p>
    La maschera di ricerca può essere direttamente integrata in altri siti web, consentendo un accesso diretto a swissbib.
    I parametri di ricerca della maschera possono essere personalizzati (scelta preliminare delle biblioteche, formato del documento ecc).
    Il codice di diversi tipi di maschera di ricerca è disponibile <a href="https://github.com/swissbib/vufind/tree/master/sbDocumentation/boxes_links" target="_blank">qui</a>
    e può essere modificato in base alle proprie esigenze (colori, filtri, codice ecc).
</p>
<p>
    <strong>Esempio di una maschera di ricerca</strong>
</p>

<html xml:lang="en" lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Simple Searchbox swissbib</title>
</head>
<body>
<div style="padding:10px;width:100%; height:100%;background-color:#50BF9E">
    <form method="get" action="https://www.swissbib.ch/Search/Results" name="searchForm" id="searchForm">
        <img alt="logo" src="https://raw.githubusercontent.com/swissbib/vufind/master/themes/sbvfrd/images/logo_swissbib.png" />
        <label for="searchForm_lookfor"></label>
        <input style="padding:2px 2px 2px 2px; background-color:#FFFFFF; border: 2px transparent; border-radius:2px;" id="searchForm_lookfor" type="text" name="lookfor" size="40" value="" class="autocomplete searcher:Solr typeSelector:searchForm_type"/>
        <input type="submit" name="submit" value="Ricerca" formtarget="_blank" /><br />
        <div style="padding-left: 198px; padding-top:5px">
            <input class="applied-filter" id="applied_filter_1" name="filter[]" type="checkbox" checked="checked" value="&#x7E;format&#x3A;&quot;XP010000&quot;" />
            <label for="applied_filter_1">Ricerca di mappe geografiche e piani</label>
        </div>
    </form>
</div>
</body>
</html>

<h2>Interfaccia di ricerca</h2>
<p>
    Per configurare una funzione di ricerca personalizzata nella basi di dati di swissbib, un'interfaccia SRU è liberamente disponibile all’indirizzo
    <a href="http://sru.swissbib.ch/sru/form" target="_blank">sru.swissbib.ch</a>.
    La corrispondente documentazione si trova nella
    <a href="http://www.swissbib.org/wiki/index.php?title=SRU" target="_blank">pagina wiki del progetto</a>.
</p>