<h1>Services</h1>
<p>
    swissbib offers the following additional services:
</p>

<h2>Search box</h2>
<p>
    The search box can be built into your website to offer access to swissbib. The search parameter of the box are configurable (Filter by
    library, format, etc.). The code of different search boxes can be found under
    <a href="https://github.com/swissbib/vufind/tree/master/sbDocumentation/boxes_links" target="_blank">this link</a>.
    You can adapt the boxes according to your needs (background color, chosen filters, codes, etc.).
</p>
<p><b>Search box example</b></p>

<html xml:lang="en" lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Simple Searchbox swissbib</title>
</head>
<body>
<div style="padding:10px;width:100%; height:100%;background-color:#50BF9E">
    <form method="get" action="https://www.swissbib.ch/Search/Results" name="searchForm" id="searchForm">
        <img alt="logo" src="https://raw.githubusercontent.com/swissbib/vufind/master/themes/sbvfrd/images/logo_swissbib.png" />
        <label for="searchForm_lookfor"></label>
        <input style="padding:2px 2px 2px 2px; background-color:#FFFFFF; border: 2px transparent; border-radius:2px;" id="searchForm_lookfor" type="text" name="lookfor" size="40" value="" class="autocomplete searcher:Solr typeSelector:searchForm_type"/>
        <input type="submit" name="submit" value="Search" formtarget="_blank" /><br />
        <div style="padding-left: 198px; padding-top:5px">
            <input class="applied-filter" id="applied_filter_1" name="filter[]" type="checkbox" checked="checked" value="&#x7E;format&#x3A;&quot;XP010000&quot;" />
            <label for="applied_filter_1">Search for maps</label>
        </div>
    </form>
</div>
</body>
</html>

<h2>Search interface</h2>
<p>
    For search services on the swissbib dataset, the SRU interface can be used. The interface implements the SRU search protocol and is available freely
    under the address <a href="http://sru.swissbib.ch/sru/form" target="_blank">sru.swissbib.ch</a>.
    A documentation is available on a <a href="http://www.swissbib.org/wiki/index.php?title=SRU" target="_blank">wiki page</a>.
</p>