<h1>Frais / Délais de livraison</h1>
<p>Les documents des bibliothèques participant au service du réseau de livraison IDS peuvent être récupérés et rapportés dans n'importe quelles autres bibliothèques du réseau:</p>
<ul>
    <li><a href="https://www.ag.ch/de/bks/kultur/archiv_bibliothek/kantonsbibliothek/kantonsbibliothek.jsp" target="_blank">Aarau, Aargauer Kantonsbibliothek</a></li>
    <li><a href="http://www.ub.unibas.ch/bibliotheksnetz/verbund-basel/bibliotheken-im-verbund/liste-der-bibliotheken/a100/?S=1" target="_blank">Basel UB Hauptbibliothek</a></li>
    <li><a href="http://www.ub.unibas.ch/bibliotheksnetz/verbund-basel/bibliotheken-im-verbund/liste-der-bibliotheken/a140/?S=1" target="_blank">Basel UB Medizin</a> (seulement livraison à Berne)</li>
    <li><a href="http://www.ub.unibas.ch/bibliotheksnetz/verbund-basel/bibliotheken-im-verbund/liste-der-bibliotheken/a125/?S=1" target="_blank">Basel UB Wirtschaft - SWA</a></li>
    <li><a href="http://unibe.ch/universitaet/dienstleistungen/universitaetsbibliothek/teilbibliotheken/berner_ids_bibliotheken/b404/index_ger.html" target="_blank">Bern UB Bibliothek Münstergasse</a></li>
    <li><a href="http://unibe.ch/universitaet/dienstleistungen/universitaetsbibliothek/teilbibliotheken/berner_ids_bibliotheken/b410/index_ger.html" target="_blank">Bern UB Basisbibliothek Unitobler</a></li>
    <li><a href="http://unibe.ch/universitaet/dienstleistungen/universitaetsbibliothek/teilbibliotheken/berner_ids_bibliotheken/b500/index_ger.html" target="_blank">Bern UB Bibliothek vonRoll</a></li>
    <li><a href="http://unibe.ch/universitaet/dienstleistungen/universitaetsbibliothek/teilbibliotheken/berner_ids_bibliotheken/b452/index_ger.html" target="_blank">Bern UB Fachbereichsbibliothek Bühlplatz</a></li>
    <li><a href="http://unibe.ch/universitaet/dienstleistungen/universitaetsbibliothek/teilbibliotheken/berner_ids_bibliotheken/b465/index_ger.html" target="_blank">Bern UB Juristische Bibliothek</a></li>
    <li><a href="http://unibe.ch/universitaet/dienstleistungen/universitaetsbibliothek/teilbibliotheken/berner_ids_bibliotheken/b415/index_ger.html" target="_blank">Bern UB Schweizerische Osteuropabibliothek</a></li>
    <li><a href="https://www.phbern.ch/schule-und-weiterbildung/mediothek.html" target="_blank">Bern PH Weiterbildung und Medienbildung</a></li>
    <li><a href="https://www.hslu.ch/de-ch/technik-architektur/campus/bibliothek/" target="_blank">Luzern, Hochschule Luzern - Bibliothek Technik & Architektur</a></li>
    <li><a href="https://www.hslu.ch/de-ch/design-kunst/ueber-uns/kunst-und-designbibliothek/" target="_blank">Luzern, Hochschule Luzern - Kunst- und Designbibliothek</a></li>
    <li><a href="https://www.hslu.ch/de-ch/soziale-arbeit/campus/mediothek/" target="_blank">Luzern, Hochschule Luzern - Mediothek Soziale Arbeit</a></li>
    <li><a href="https://www.hslu.ch/de-ch/musik/campus/bibliothek/" target="_blank">Luzern, Hochschule Luzern – Musikbibliothek</a></li>
    <li><a href="http://www.zhbluzern.ch/index.php?id=1218" target="_blank">Luzern, Zentral- und Hochschulbibliothek Sempacherstrasse</a></li>
    <li><a href="http://www.zhbluzern.ch/index.php?id=1219" target="_blank">Luzern, Zentral- und Hochschulbibliothek UNI/PH-Gebäude</a></li>
    <li><a href="http://www.zhbluzern.ch/standorte/hochschule-luzern-informatik/" target="_blank">Luzern, Zentral- und Hochschulbibliothek, Bibliothek Hochschule Luzern – Informatik</a></li>
    <li><a href="http://www.zhbluzern.ch/standorte/hochschule-luzern-wirtschaft/" target="_blank">Luzern, Zentral- und Hochschulbibliothek Wirtschaft</a></li>
    <li><a href="http://www.unisg.ch/wissen/bibliothek" target="_blank">St. Gallen, HSG</a></li>
    <li><a href="http://www.sg.ch/home/kultur/kantonsbibliothek.html" target="_blank">St. Gallen, Kantonsbibliothek Vadiana</a></li>
    <li><a href="http://www.zb.uzh.ch" target="_blank">Zürich, Zentralbibliothek</a></li>
</ul>
<p><strong>Frais:</strong> Fr. 5.- par document. Paiement comptant à la réception du document. En cas de non-réception du document, le service vous sera facturé quand même.</p>
<p><strong>Délais de livraison:</strong> Les documents commandés en ligne sont réceptionnés par le service de livraison IDS tous les jours (sauf le samedi) et sont livrés dans la bibliothèque de votre choix dans un délai de 2 jours ouvrables. Les documents restent à votre disposition pendant une semaine.</p>

<h1>Service de courrier interne</h1>
<p>A <a href="http://www.ub.unibas.ch/ub-hauptbibliothek/dienstleistungen/ausleihe/kurier-und-fernleihe/" target="_blank">Bâle</a>, le service de courrier interne est gratuit. Le délai de livraison est d’un jour ouvrable.</p>
<p>A <a href="http://www.unibe.ch/universitaet/dienstleistungen/universitaetsbibliothek/service/ausleihe/kurier/index_ger.html" target="_blank">Berne</a>, le service de courrier interne est gratuit. Les délais de livraison sont indiqués sur notre <a href="http://www.unibe.ch/universitaet/dienstleistungen/universitaetsbibliothek/service/ausleihe/kurier/lieferfristen_berner_kurier/index_ger.html" target="_blank">site Web</a>.</p>

<h1>Livraison des copies</h1>
<p><strong>Frais:</strong> Fr. 5.- par 20 pages </p>
<p><strong>Temps:</strong> Lundi à vendredi en 24 heures. <br>
    Plus d'information (en Allemand):
    <a href="http://www.ub.unibas.ch/ub-hauptbibliothek/dienstleistungen/kopienversand/" target="_blank">Kopienversand Basel</a> /
    <a href="http://www.unibe.ch/universitaet/dienstleistungen/universitaetsbibliothek/service/ausleihe/fernleihe___document_delivery/index_ger.html" target="_blank">Kopienversand Bern</a> </p>
