<h1>Le compte usager / My swissbib</h1>
<p>Votre compte usager (<a href="<?= $this->url('myresearch-userlogin') ?>">My swissbib</a>) vous permet de visualiser vos prêts, vos réservations ainsi que vos rappels et pénalités. Sur votre compte vous pouvez prolonger les documents ainsi que changer vos <a href="<?= $this->url('myresearch-changeaddress'); ?>">données</a> et <a href="<?= $this->url('myresearch-settings'); ?>"><?= $this->transEsc('My_Search_Settings') ?></a> personnels.</p>
<h2>Vous n'avez pas encore de compte?</h2>
<p>Ouvrez un nouveau compte sur <a href="http://aleph.unibas.ch/F/?func=bor-new-0" target="_blank"><?= $this->transEsc('Create New Account') ?></a> (ou bien sur place dans une des bibliothèques du réseau IDS <a href="http://www.ub.unibas.ch/bibliotheksnetz/verbund-basel/bibliotheken-im-verbund/liste-der-bibliotheken" target="_blank">à Bâle</a> ou <a href="http://unibe.ch/universitaet/dienstleistungen/universitaetsbibliothek/teilbibliotheken/berner_ids_bibliotheken/liste/index_ger.html" target="_blank">à Berne</a>)</p>
<p>Les cartes de lecteurs d'une autre <a href="http://www.informationsverbund.ch/21.0.html" target="_blank" title="IDS-Bibliothek">bibliothèque du réseau IDS</a> sont également valables pour swissbib Basel Bern<a href="http://www.informationsverbund.ch/6.0.html" target="_blank"></a>, une inscription est possible notamment sous présentation d'une carte d'étudiant ou de personnel de l'université de Bâle ou de Berne.</p>
<h2>Vous avez oublié votre mot de passe?</h2>
<p>Contactez:</p>
<ul>
    <li>Région de Bâle: <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#105;&#110;&#102;&#111;&#45;&#117;&#98;&#64;&#117;&#110;&#105;&#98;&#97;&#115;&#46;&#99;&#104;">&#105;&#110;&#102;&#111;&#45;&#117;&#98;&#64;&#117;&#110;&#105;&#98;&#97;&#115;&#46;&#99;&#104;</a></li>
    <li>Région de Berne: <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#105;&#110;&#102;&#111;&#64;&#117;&#98;&#46;&#117;&#110;&#105;&#98;&#101;&#46;&#99;&#104;">&#105;&#110;&#102;&#111;&#64;&#117;&#98;&#46;&#117;&#110;&#105;&#98;&#101;&#46;&#99;&#104;</a></li>
</ul>
<h2>Vous avez perdu votre carte de lecteur?</h2>
<p>Nous vous prions de bien vouloir passer dans une des bibliothèques du réseau IDS: <a href="http://www.ub.unibas.ch/bibliotheksnetz/verbund-basel/bibliotheken-im-verbund/liste-der-bibliotheken" target="_blank">Région bâloise</a>, <a href="http://unibe.ch/universitaet/dienstleistungen/universitaetsbibliothek/teilbibliotheken/berner_ids_bibliotheken/liste/index_ger.html" target="_blank">Région bernoise</a>. Le remplacement de votre carte est payant. Pour cela nous avons besoin d'une carte d'identité valide.</p>
<h1>Vos paramètres personnels</h1>
<h2>Recherches sauvegardées</h2>
<p>Si vous ne vous êtes pas identifié, vos recherches sont sauvegardées automatiquement jusqu'à ce que vous fermiez le navigateur web. Si vous vous êtes identifié, vous pouvez sauvegarder à long terme les listes de sélection et ainsi les réutiliser si besoin.</p>
<h2>Configuration</h2>
<p>Vous pouvez configurer selon vos préférences la langue de l'interface, la longueur et les critères de sélection des listes des résultats. La configuration est effective uniquement après identification.</p>
<h2>Mes bibliothèques</h2>
<p>Pour enregistrer vos bibliothèques préférées dans Mes bibliothèques, utilisez soit la recherche sous <a href="<?=$this->url('myresearch-favorite-institutions')?>"><?=$this->transEsc('mylibraries')?></a> ou bien cliquez dans une notice sur l'icône <i class="fa fa-heart-o"></i> correspondant à la bibliothèque de votre choix. Dans la liste des résultats, vos bibliothèques préférées sont marquées par l'icône <i class="fa fa-heart"></i>. Si vous vous êtes identifié, vous pouvez affiner la liste des résultats selon la disponibilité dans vos bibliothèques préférées.</p>
<h2>Listes de sélection</h2>
<p>En vous connectant, vous avez la possibilité de sauvegarder des titres dans une ou plusieurs listes de sélection en cliquant sur l’icône <i class="fa fa-list-ul"></i>.</p>