<?php
    // Set default value if necessary:
    if (!isset($this->searchClassId)) {
        $this->searchClassId = 'Solr';
    }

    // Load search actions and settings (if any):
    $options = $this->searchOptions($this->searchClassId);
    $handlers = $this->searchbox()->getHandlers(
        $this->searchClassId,
        isset($this->searchIndex) ? $this->searchIndex : null
    );
    $handlerCount = count($handlers);
    $basicSearch = $this->searchbox()->combinedHandlersActive() ? 'combined-searchbox' : $options->getSearchAction();
    $searchHome = $options->getSearchHomeAction();
    $advSearch = $options->getAdvancedSearchAction();
    $lastSort = $this->searchMemory()->getLastSort($this->searchClassId);
    $lastLimit = $this->searchMemory()->getLastLimit($this->searchClassId);
    $searchtabs = $this->searchtabs($this->searchClassId, $this->lookfor, $this->searchIndex, $this->searchType);

?>

<?php if ($this->searchType == 'advanced'): ?>
  <div id="searchForm">
    <div class="search-tabs-box">
    <?php
        //initialize variable, otherwise we will get a notice in log
        $withTabsClass = '';
    ?>
    <?php if (count($searchtabs) > 0): ?>
      <?= $this->context($this)->renderInContext('search/searchTabs', ['searchTabs' => $searchtabs]); ?>

      <?php $withTabsClass = ' tabsVisible' ?>
    <?php endif; ?>
      <div class="advancedSearchHeaderBox<?= $withTabsClass ?>">
        <div class="row">
          <div class="col-sm-4">
            <a class="navbar-text advancedSearchLink edit" href="<?=$this->url($advSearch)?>?edit=<?=$this->escapeHtmlAttr($this->searchId)?>"><?=$this->transEsc("Edit this Advanced Search")?></a>
          </div>
          <div class="col-sm-4">
            <a class="navbar-text advancedSearchLink new" href="<?=$this->url($advSearch)?>"><?=$this->transEsc("Start a new Advanced Search")?></a>
          </div>
          <div class="col-sm-4">
            <a class="navbar-text simpleSearchLink" href="<?=$this->url($searchHome)?>"><?=$this->transEsc("Start a new Basic Search")?></a>
          </div>
        </div>
        <!--<div class="row">
          <div class="col-sm-12">
            <p class="navbar-text"><?/*=$this->transEsc("Your search terms")*/?> : "<strong><?/*=$this->escapeHtml($this->lookfor)*/?>"</strong></p>
          </div>
        </div>-->
      </div>
    </div>
  </div>
<?php else: ?>
  <form role="search" class="navbar-form navbar-left" method="get" action="<?=$this->url($basicSearch)?>" name="searchForm" id="searchForm" autocomplete="off">

    <div class="search-tabs-box">
    <?php if (count($searchtabs) > 0): ?>
      <?= $this->context($this)->renderInContext('search/searchTabs', ['searchTabs' => $searchtabs]); ?>

    <?php endif; ?>
    </div>
    <div class="input-group">
        <span class="searchBoxWrapper">
           <label class="sr-only" for="searchForm_lookfor"><?=$this->transEsc("Search For")?></label>
           <input class="form-control search-query<?php if($this->searchbox()->autocompleteEnabled($this->searchClassId)):?> autocomplete searcher:<?=$this->escapeHtmlAttr($this->searchClassId) ?><?php endif ?>" id="searchForm_lookfor" type="text" name="lookfor" value="<?=$this->escapeHtmlAttr($this->lookfor)?>"/>
        </span>
        <span class="input-group-btn">
           <span id="remove-search-text" class="fa fa-remove"></span>
           <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
            <?php if ($advSearch): ?>
              <a href="<?=$this->url($advSearch)?>" class="btn btn-link advancedSearchLink"><?=$this->transEsc("Advanced Search")?></a>
            <?php endif; ?>
        </span>
        <?php if ($handlerCount > 1): ?>
            <select class="form-control" id="searchForm_type" name="type" data-native-menu="false">
                <?php foreach ($handlers as $handler): ?>
                    <option value="<?=$this->escapeHtmlAttr($handler['value'])?>"<?=$handler['selected'] ? ' selected="selected"' : ''?>><?=$handler['indent'] ? '-- ' : ''?><?=$this->transEsc($handler['label'])?></option>
                <?php endforeach; ?>
            </select>
        <?php elseif ($handlerCount == 1): ?>
            <input type="hidden" name="type" value="<?=$this->escapeHtmlAttr($handlers[0]['value'])?>" />
        <?php endif; ?>
    </div>

    <?php $shards = $options->getShards(); if ($options->showShardCheckboxes() && !empty($shards)): ?>
      <?php
      $selectedShards = isset($this->selectedShards)
          ? $this->selectedShards : $options->getDefaultSelectedShards();
      ?>
      <br />
      <?php foreach ($shards as $shard => $val): ?>
        <?php $isSelected = empty($selectedShards) || in_array($shard, $selectedShards); ?>
          <input type="checkbox" <?=$isSelected ? 'checked="checked" ' : ''?>name="shard[]" value='<?=$this->escapeHtmlAttr($shard)?>' /> <?=$this->transEsc($shard)?>
      <?php endforeach; ?>
    <?php endif; ?>
    <?php
      $filterDetails = $this->searchbox()->getFilterDetails(
          isset($this->filterList) && is_array($this->filterList) ? $this->filterList : [],
          isset($this->checkboxFilters) && is_array($this->checkboxFilters) ? $this->checkboxFilters : []
      );
    ?>
    <?php if ((isset($hasDefaultsApplied) && $hasDefaultsApplied) || !empty($filterDetails)): ?>
      <?php $defaultFilterState = $options->getRetainFilterSetting() ? ' checked="checked"' : ''; ?>
      <label class="checkbox">
        <input onChange="$('.applied-filter').click()" type="checkbox"<?=$defaultFilterState?> id="searchFormKeepFilters"/>
        <?=$this->transEsc("basic_search_keep_filters")?>
      </label>
      <div class="hidden">
        <?php foreach ($filterDetails as $current): ?>
          <input class="applied-filter" id="<?=$this->escapeHtmlAttr($current['id'])?>" type="checkbox"<?=$defaultFilterState?> name="filter[]" value="<?=$this->escapeHtmlAttr($current['value'])?>" />
          <label for="<?=$this->escapeHtmlAttr($current['id'])?>"><?=$this->escapeHtml($current['value'])?></label>
        <?php endforeach; ?>
        <?php if (isset($hasDefaultsApplied) && $hasDefaultsApplied): ?>
          <!-- this is a hidden element that flags whether or not default filters have been applied;
               it is intentionally unlabeled, as users are not meant to manipulate it directly. -->
          <input class="applied-filter" id="dfApplied" type="checkbox" name="dfApplied" value="1"<?=$defaultFilterState?> />
        <?php endif; ?>
      </div>
    <?php endif; ?>
    <?php
      /* Show hidden field for active search class when in combined handler mode. */
      if ($this->searchbox()->combinedHandlersActive()) {
        echo '<input type="hidden" name="activeSearchClassId" value="' . $this->escapeHtmlAttr($this->searchClassId) . '" />';
      }
      /* Load hidden limit preference from Session */
      if (!empty($lastLimit)) {
        echo '<input type="hidden" name="limit" value="' . $this->escapeHtmlAttr($lastLimit) . '" />';
      }
      if (!empty($lastSort)) {
        echo '<input type="hidden" name="sort" value="' . $this->escapeHtmlAttr($lastSort) . '" />';
      }
    ?>
  </form>
<?php endif; ?>
