<?=$this->doctype('HTML5')?>
<!--[if IE 8]> <html lang="<?=$this->layout()->userLang?>" class="ie8"> <![endif]-->
<!--[if gt IE 8]> <html lang="<?=$this->layout()->userLang?>" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="<?=$this->layout()->userLang?>"> <!--<![endif]-->
<head>
  <?$this->headThemeResources()?>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
  <?=$this->headMeta()?>
  <?=$this->headTitle()?>
  <?php
  // Set up OpenSearch link:
  $this->headLink(
      [
          'href' => $this->url('search-opensearch') . '?method=describe',
          'type' => 'application/opensearchdescription+xml',
          'title' => $this->transEsc('Library Catalog Search'),
          'rel' => 'search'
      ]
  );
  ?>
  <?=$this->headLink()?>
  <?=$this->headStyle()?>
  <?php
  // Set global path for Javascript code:
  $this->headScript()->prependScript("path = '" . rtrim($this->url('home'), '/') . "';");

  // Deal with cart stuff:
  if (!isset($this->renderingError)) {
    $cart = $this->cart();
    $this->jsTranslations()->addStrings(
        [
            'add_tag_success' => 'add_tag_success',
            'bulk_email_success' => 'bulk_email_success',
            'bulk_noitems_advice' => 'bulk_noitems_advice',
            'bulk_save_success' => 'bulk_save_success',
            'close' => 'close',
            'libphonenumber_invalid' => 'libphonenumber_invalid',
            'libphonenumber_invalidcountry' => 'libphonenumber_invalidcountry',
            'libphonenumber_invalidregion' => 'libphonenumber_invalidregion',
            'libphonenumber_notanumber' => 'libphonenumber_notanumber',
            'libphonenumber_toolong' => 'libphonenumber_toolong',
            'libphonenumber_tooshort' => 'libphonenumber_tooshort',
            'libphonenumber_tooshortidd' => 'libphonenumber_tooshortidd',
            'loading' => 'Loading',
            'more' => 'more',
            'number_thousands_separator' => [
                'number_thousands_separator', null, ','
            ],
            'sms_success' => 'sms_success',
            'autosuggest.loading' => 'autosuggest.loading',
            'autosuggest.show.all' => 'autosuggest.show.all',
            'autosuggest.section.label.titles' => 'autosuggest.section.label.titles',
            'autosuggest.section.label.authors' => 'autosuggest.section.label.authors',
            'autosuggest.section.label.topics' => 'autosuggest.section.label.topics'
        ]
    );
    if ($cart->isActive()) {
      $this->headScript()->appendFile("vendor/cookies.js");
      $this->headScript()->appendFile("cart.js");
      $this->headScript()->appendFile($this->basePath() . "/themes/sbvfrd/js/swissbib/swissbibAppend.js");
      $domain = $cart->getCookieDomain();
      $this->headScript()->appendScript(
          'var cartCookieDomain = ' . (!empty($domain) ? "'$domain'" : 'false') . ';'
      );
      $this->jsTranslations()->addStrings(
          [
              'bulk_noitems_advice' => 'bulk_noitems_advice',
              'confirmEmpty' => 'bookbag_confirm_empty',
              'viewBookBag' => 'View Book Bag',
              'addBookBag' => 'Add to Book Bag',
              'removeBookBag' => 'Remove from Book Bag',
              'itemsAddBag' => 'items_added_to_bookbag',
              'itemsInBag' => 'items_already_in_bookbag',
              'bookbagMax' => $cart->getMaxSize(),
              'bookbagFull' => 'bookbag_full_msg',
              'bookbagStatusFull' => 'bookbag_full',
          ]
      );
    }
    $this->headScript()->appendScript(
        'var userIsLoggedIn = ' . ($this->auth()->isLoggedIn() ? 'true' : 'false') . ';'
    );
    $this->headScript()->appendScript($this->jsTranslations()->getScript());
  }

  // Session keep-alive
  if ($this->keepAlive()) {
    $this->headScript()->appendScript('var keepAliveInterval = '
        . $this->keepAlive());
    $this->headScript()->appendFile("keep_alive.js");
  }
  ?>
  <?php
  $root = rtrim($this->url('home'), '/');
  $translations = $this->jsTranslations()->getJSON();
  $dsb = DEFAULT_SEARCH_BACKEND;
  $setupJS = <<<JS
VuFind.path = '{$root}';
VuFind.defaultSearchBackend = '{$dsb}';
VuFind.addTranslations({$translations});
JS;
  $this->headScript()->appendScript($setupJS);

  // Append TypeScript generated output
  $this->headScript()->appendFile("swissbib/swissbib.ts.js");

  // Extend swissbib global object by autocomplete configuration
  $autoSuggestConfig = json_encode($this->autoSuggestConfig()->toArray());
  $swissbibObjectExtension = <<<JS
(function(s) {
  var autoSuggestConfiguration = {$autoSuggestConfig};
  s.autoSuggestConfiguration = function () {
    return autoSuggestConfiguration;
  };
})(window.swissbib = window.swissbib || {});
JS;

  $this->headScript()->appendScript($swissbibObjectExtension);
  ?>  <?=$this->headScript()?>
</head>
<body>
<?php // Set up the search box -- there are three possible cases:
// 1. No search box was set; we should default to the normal box
// 2. It was set to false; we should display nothing
// 3. It is set to a custom string; we should display the provided version
// Set up default search box if no data was provided from the template;
// this covers case 1.  Cases 2 and 3 are then covered by logic below.
if (!isset($this->layout()->searchbox)) {
  $this->layout()->searchbox = $this->render('search/searchbox.phtml');
}
?>

<header role="banner" class="hidden-print">
  <div class="container navbar">
    <a class="sr-only" href="#content"><?=$this->transEsc('Skip to content') ?></a>
    <?=$this->render('header.phtml')?>
  </div>
</header>

<div role="main" class="main">
  <div class="container container-table-fix-md breadcrumbWrapper">
    <?= $this->render('layout/breadcrumb'); ?>
  </div>
  <div id="content" class="container container-table-fix-md">
    <div class="row row-table-fix-md table-sidebar">
      <div class="col-md-12 col-table-fix-md dirty-hack-column">
        <div class="row">
          <?=$this->layout()->content?>
        </div>
      </div>
    </div>
  </div>
  <div id="bottom-puffer"></div>
</div>
<footer role="contentinfo" class="hidden-print">
  <div class="container">
    <?= $this->render('footer.phtml');?>
  </div>
</footer>
<!-- MODAL IN CASE WE NEED ONE -->
<div id="modal" class="modal fade hidden-print" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <div class="modal-body"><?=$this->transEsc('Loading') ?>...</div>
    </div>
  </div>
</div>
<?=$this->piwik()?>
</body>

<script type="text/javascript">
$(document).ready(function()
{
  // alle externen links:
  <?php if (array_key_exists('HTTP_HOST', $_SERVER)): ?>
    $("a[href^='http']").not("a[href*='//<?=$_SERVER['HTTP_HOST']?>']").each(function(){
        $(this).on("click",function(){swissbib.trackLink($(this).attr('href'));});
    });
  <?php endif; ?>
});
</script>

</html>
