<h1>Über swissbib</h1>
<h2>Was ist swissbib</h2>
<p>
    Swissbib ist ein nationaler Katalog, der Ihnen die Möglichkeit gibt, die Bibliotheken der Schweizer Universitäten, Fachhochschulen,
    Forschungsanstalten, die Schweizerische Nationalbibliothek und zahlreiche weitere Institutionen zentral zu durchsuchen.
    Sie benutzen swissbib für die Suche und die Trefferanzeige. Weiter informiert sie swissbib, in welchen Bibliotheken die von
    Ihnen gefundene Titel vorhanden sind.
</p>

<h2>Was finde ich in swissbib</h2>
<p>
    Swissbib macht mit gut 21 Millionen Aufnahmen die Sammlungen von mehr als 900 Bibliotheken, Mediotheken und Archiven aus allen Landesteilen
    der Schweiz unter einer Oberfläche suchbar. Dies umfasst Bücher, Zeitschriften, Dissertationen, E-Books, Digitalisate, Filme, Musiknoten
    und Tonträgen, Photos, Dias, Unterrichtsmaterialien, Sprachkurse und vieles mehr.
</p>

<h2>Wie suche ich in swissbib</h2>
<p>
    Swissbib bietet einen einfachen Sucheinstieg <a class="help-link" data-lightbox href="<?=$this->url('help-home')?>?topic=search" title="<?= $this->transEsc('Search Tips') ?>">mit vielen Extras</a>
    und eine <a href="<?= $this->url('search-advanced') ?>" title="<?= $this->transEsc('Advanced Search') ?>">erweiterte Suche</a>.
    Die Trefferlisten sind nach einer transparent eingestellten Relevanz gegliedert und können auch nach Autor, Titel oder Jahr sortiert werden. Die Facetten
    oder Filter ermöglichen Ihnen eine Einschränkung nach verschiedenen Kriterien.
</p>

<h2>Wo erhalte ich den gewünschten Titel</h2>
<p>
    Hinter dem Symbol <i class="fa fa-institution"></i> finden Sie die Anzahl und, nach einem Klick, die Namen der besitzenden Bibliotheken. Ein Klick auf die gewünschte Bibliothek liefert
    weitere Informationen. Falls es sich beim Dokument um eine frei zugängliche digitale Ressource handelt, wird unter dem Symbol <i class="fa fa-external-link"></i> ein
    direkter Link angeboten.
</p>
<p>
    Unter dem Reiter "Exemplare" einer Vollanzeige finden Sie weitere Informationen wie Standort, Signatur und Verfügbarkeit. Hier bietet swissbib auch Links zu den regionalen
    Katalogen der Schweizer Verbünde, in welchen Sie bestellen können. Dazu müssen Sie sich bei der jeweiligen Bibliothek jedoch anmelden.
</p>

<h2>Wozu in swissbib anmelden</h2>
<p>
    Mit einer Anmeldung in swissbib können Sie verschiedene Einstellungen personalisiert nutzen. Sie können:
</p>
<ul class="list">
    <li>auf bereits getätigte Suchen zurückgreifen</li>
    <li>Bibliotheken unter Meine Bibliotheken einmal abspeichern und dann immer wieder nutzen</li>
    <li>Merklisten über einen längeren Zeitraum speichern</li>
    <li>Die Suchoberfläche konfigurieren (Sprache, Listenlänge)</li>
</ul>
<p>
    Wenn Sie sich <strong>nicht</strong> anmelden, verlieren Sie alle Einstellungen, wenn Sie den Browser schliessen.
</p>

<h2>Wie funktioniert die Anmeldung in swissbib</h2>
<p>
    Als überregionaler Service bietet swissbib eine bibliotheksunabhängige Anmeldung. Es stehen zwei Möglichkeiten zur Verfügung:
</p>
<ul class="list">
    <li>
        <strong>switchAAI:</strong> Für Studierende und das Personal von Universitäten, Fachhochschulen und weiteren
        Institutionen nutzen wir den nationalen Dienst von switch. Dieses Login wird von diesen Institutionen bereitgestellt und
        von Studierenden auch für andere Dienste wie VPN oder Lernplattformen genutzt
        (<a href="https://www.switch.ch/services/aai/" target="_blank" title="Info zu switchAAI">Mehr Informationen</a>).
    </li>
    <li>
        <strong>SWITCH edu-ID:</strong> Dieser Zugang steht speziell jenen Nutzerinnen und Nutzern zur Verfügung, die sich
        nicht über switchAAI anmelden können, da sie nicht bei einer Hochschule eingeschrieben sind. Dieser neue Dienst
        wird ebenfalls von switch bereitgestellt
        (<a href="https://projects.switch.ch/eduid/" target="_blank" title="Info zur SWITCH edu-ID">Mehr Informationen</a>).
    </li>
</ul>

<h2>Wozu abmelden?</h2>
<p>
    An öffentlichen Computern sollten Sie sich abmelden <strong> und den Browser schliessen</strong>, damit ausser Ihnen niemand Ihr Konto benutzen kann.
</p>

<h2>Wie aktuell ist swissbib?</h2>
<p>
    Die Daten in swissbib werden täglich aktualisiert.
</p>