<h1>Services</h1>
<p>
    swissbib bietet folgende weitere Dienste an:
</p>

<h2>Suchbox</h2>
<p>
    Die Suchbox können Sie in Ihre Webseite einbauen und damit einen Zugang auf swissbib anbieten. Die Suchparameter der Box sind konfigurierbar
    (Filter nach Bibliothek, Format, etc.). Den Code verschiedener Suchboxen finden Sie unter
    <a href="https://github.com/swissbib/vufind/tree/master/sbDocumentation/boxes_links" target="_blank">diesem Link</a>. Sie können die Boxen
    nach ihren Bedürfnissen anpassen (Hintergrundfarbe, gewählter Filter, Code, etc.).
</p>
<p><b>Beispiel einer Suchbox</b></p>

<html xml:lang="en" lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Simple Searchbox swissbib</title>
</head>
<body>
<div style="padding:10px;width:100%; height:100%;background-color:#50BF9E">
    <form method="get" action="https://www.swissbib.ch/Search/Results" name="searchForm" id="searchForm">
        <img alt="logo" src="https://raw.githubusercontent.com/swissbib/vufind/master/themes/sbvfrd/images/logo_swissbib.png" />
        <label for="searchForm_lookfor"></label>
        <input style="padding:2px 2px 2px 2px; background-color:#FFFFFF; border: 2px transparent; border-radius:2px;" id="searchForm_lookfor" type="text" name="lookfor" size="40" value="" class="autocomplete searcher:Solr typeSelector:searchForm_type"/>
        <input type="submit" name="submit" value="Suchen" formtarget="_blank" /><br />
        <div style="padding-left: 198px; padding-top:5px">
            <input class="applied-filter" id="applied_filter_1" name="filter[]" type="checkbox" checked="checked" value="&#x7E;format&#x3A;&quot;XP010000&quot;" />
            <label for="applied_filter_1">Suche nach Kartenmaterial</label>
        </div>
    </form>
</div>
</body>
</html>

<h2>Suchschnittstelle</h2>
<p>
    Für eigene Suchdienste über den Datenbestand von swissbib kann die SRU-Schnittstelle genutzt werden. Die Schnittstelle ist unter der
    Adresse <a href="http://sru.swissbib.ch/sru/form" target="_blank">sru.swissbib.ch</a>
    frei erreichbar. Eine Dokumentation findet sich im <a href="http://www.swissbib.org/wiki/index.php?title=SRU" target="_blank">Projekt-Wiki</a>.
</p>