<?php
  $addThis = $this->addThis();
  if (!empty($addThis)) {
    $this->headScript()->appendFile('https://s7.addthis.com/js/250/addthis_widget.js?pub=' . urlencode($addThis));
  }

  // Set up some variables for convenience:
  $id = $this->driver->getUniqueId();
  $cart = $this->cart();
  $cartId = $this->driver->getResourceSource() . '|' . $id;
?>
<ul class="nav nav-pills hidden-print">
  <?php if (count($this->driver->getCitationFormats()) > 0): ?>
    <li><a id="cite-record" class="cite-record" data-lightbox href="<?=$this->recordLink()->getActionUrl($this->driver, 'Cite')?>" title="<?=$this->transEsc('Cite this')?>"><i class="fa fa-pencil"></i></a></li>
  <?php endif; ?>
  <?php $mailID = $this->auth()->isAjaxLoginAllowed() ? 'id="mail-record"' : '' ?>
    <?php $mailID = '' ?>
  <li><a <?= $mailID  ?>  class="s cite-record" href="<?=$this->recordLink()->getActionUrl($this->driver, 'Email')?>" title="<?=$this->transEsc('Email this')?>"><i class="fa fa-envelope"></i></a></li>

  <?php $exportFormats = $this->export()->getFormatsForRecord($this->driver); ?>
  <?php if(count($exportFormats) > 0): ?>
    <li class="dropdown">
      <a class="export-toggle dropdown-toggle" data-toggle="dropdown" href="<?=$this->recordLink()->getActionUrl($this->driver, 'Export')?>" title=" <?=$this->transEsc('Export Record') ?>"><i class="fa fa-share"></i></a>
      <ul class="dropdown-menu" role="menu">
        <?php foreach ($exportFormats as $exportFormat): ?>
          <li class="<?=$this->export()->getVisibilityClassName($exportFormat)?>"><a <?php if ($this->export()->needsRedirect($exportFormat)): ?>target="<?=$this->escapeHtmlAttr($exportFormat)?>Main" <?php endif; ?>href="<?=$this->recordLink()->getActionUrl($this->driver, 'Export')?>?style=<?=$this->escapeHtmlAttr($exportFormat)?>"><?=$this->transEsc('Export to')?> <?=$this->transEsc($this->export()->getLabelForFormat($exportFormat))?></a></li>
        <?php endforeach; ?>
      </ul>
    </li>
  <?php endif; ?>


  <?php if ($this->userlist()->getMode() !== 'disabled'): ?>
    <?php $saveID = $this->auth()->isAjaxLoginAllowed() ? 'id="save-record"' : '' ?>
    <li><a <?= $saveID  ?> class="modal-link cite-record" href="<?=$this->recordLink()->getActionUrl($this->driver, 'Save')?>" title="<?=$this->transEsc('Add to favorites')?>"><i class="fa fa-list-ul"></i></a></li>
  <?php endif; ?>
  <?php if (!empty($addThis)): ?>
    <li><a class="addThis addthis_button" href="https://www.addthis.com/bookmark.php?v=250&amp;pub=<?=urlencode($addThis)?>"><i class="fa fa-bookmark"></i></a></li>
  <?php endif; ?>
  <?php if ($cart->isActive()): ?>
    <li id="bookbag-menu">
      <input id="cartId" type="hidden" name="ids[]" value="<?=$this->escapeHtmlAttr($cartId)?>" />
      <a id="cart-add" class="<?php if(!$cart->contains($cartId)): ?>correct <?php endif ?>hidden" href="#"><i class="fa fa-plus"></i></a>
      <a id="cart-remove" class="<?php if($cart->contains($cartId)): ?>correct <?php endif ?>hidden" href="#"><i class="fa fa-minus-circle"></i></a>
      <noscript>
        <form method="post" name="addForm" action="<?=$this->url('cart-home')?>">
          <input type="hidden" name="ids[]" value="<?=$this->escapeHtmlAttr($cartId)?>" />
          <?php if ($cart->contains($cartId)): ?>
            <input class="btn btn-default" type="submit" name="delete" value="<?=$this->transEsc('Remove from Book Bag')?>"/>
          <?php else: ?>
            <input class="btn btn-default" type="submit" name="add" value="<?=$this->transEsc('Add to Book Bag')?>"/>
          <?php endif; ?>
        </form>
      </noscript>
    </li>
  <?php endif; ?>
</ul>