<?php

/** @var    \Swissbib\RecordDriver\SolrMarc $driver */
$institutions = $driver->getInstitutions(true);
$institutions = $this->filterUntranslatedInstitutions($institutions, true);

if (sizeof($institutions) > 1) {
  $institutions = $this->institutionSorter()->sortInstitutions($institutions, true);
}

?>
<?php if (count($institutions) > 0): ?>
  <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownLibraries">
    <?php foreach ($institutions as $institution): ?>
      <?php
        $institutionCode = $institution['institution'];
        $groupCode = $institution['group'];
        $anchor = 'holding-institution-' . $groupCode . '-' . $institutionCode;
      ?>
      <li role="presentation">
        <a role="menuitem" href="<?= $this->recordLink()->getUrl($driver) ?>?expandlib=<?= $groupCode ?>-<?= $institutionCode ?>#<?= $anchor ?>">
          <span class="a-before"></span><?= $this->escapeHtml($this->zendTranslate($institutionCode, 'institution')); ?>
        </a>
      </li>
    <?php endforeach; ?>
  </ul>
<?php endif; ?>