<?php
$record = $this->driver;
$viewRecord = $this->record($record);

$subjectVocabularies = $record->getAllSubjectVocabularies(true);
$hierarchicalPlaceNames = $record->getHierarchicalPlaceNames();
$placeNames = $record->getPlaceNames();

/* Display Standard-IDs */
$isbns = $record->getISBNs();
$issns = $record->getISSNs();
$ismns = $record->getISMNs();
$dois = $record->getDOIs();
$urns = $record->getURNs();

$alttitle = $record->getAltTitle();
$formerTitle = $record->getFormerTitle();

$series = $record->getSeries();
$collectionTitle = $record->getCollectionTitle();
$archVolTitle = $record->getArchivalVolumeTitle();
$recordLinks = $record->getAllRecordLinks();
$nextTitles = $record->getNewerTitles();
$prevTitles = $record->getPreviousTitles();
?>

<table class="table table-striped" summary="<?=$this->transEsc('Description')?>">

    <?php if (!empty($isbns)): ?>
    <?php $contentDisplayed = true; ?>
    <tr>
        <th><?=$this->transEsc('ISBN')?>: </th>
        <td>
            <?php foreach ($isbns as $field): ?>
                <?=$this->escapeHtml($field)?><br/>
            <?php endforeach; ?>
        </td>
    </tr>
    <?php endif; ?>

    <?php if (!empty($issns)): ?>
    <?php $contentDisplayed = true; ?>
    <tr>
        <th><?=$this->transEsc('ISSN')?>: </th>
        <td>
            <?php foreach ($issns as $field): ?>
                <?=$this->escapeHtml($field)?><br/>
            <?php endforeach; ?>
        </td>
    </tr>
    <?php endif; ?>

    <?php if (!empty($ismns)): ?>
    <?php $contentDisplayed = true; ?>
    <tr>
        <th><?= $this->transEsc('ISMN') ?>: </th>
        <td>
            <?php foreach ($ismns as $field): ?>
                <?= $this->escapeHtml($field) ?><br/>
            <?php endforeach; ?>
        </td>
    </tr>
    <?php endif; ?>

    <?php if (!empty($dois)): ?>
    <?php $contentDisplayed = true; ?>
    <tr>
        <th><?= $this->transEsc('DOI') ?>: </th>
        <td>
            <?php foreach ($dois as $field): ?>
                <?php $fieldUrl = 'http://doi.org/' . $field; ?>
                <a href="<?= $fieldUrl ?>" target="_blank"> <?= $this->escapeHtml($field) ?><br/></a>
            <?php endforeach; ?>
        </td>
    </tr>
    <?php endif; ?>

    <?php if (!empty($urns)): ?>
    <?php $contentDisplayed = true; ?>
    <tr>
        <th><?= $this->transEsc('URN') ?>: </th>
        <td>
            <?php foreach ($urns as $field): ?>
                <?= $this->escapeHtml($field) ?><br/>
            <?php endforeach; ?>
        </td>
    </tr>
    <?php endif; ?>

    <?php if (!empty($alttitle)): ?>
        <?php $contentDisplayed = true; ?>
        <tr>
            <th> <?=$this->transEsc('Other_Title') ?>: </th>
            <td>
                <?php foreach ($alttitle as $field): ?>
                    <?= $this->escapeHtml($field) ?><br/>
                <?php endforeach; ?>
            </td>
        </tr>
    <?php endif; ?>

    <?php if (!empty($formerTitle)): ?>
        <?php $contentDisplayed = true; ?>
        <tr>
            <th> <?=$this->transEsc('Former_Title') ?>: </th>
            <td>
                <?php foreach ($formerTitle as $field): ?>
                    <?= $this->escapeHtml($field) ?><br/>
                <?php endforeach; ?>
            </td>
        </tr>
    <?php endif; ?>

    <?php if (!empty($series)): ?>
    <?php $contentDisplayed = true; ?>
    <tr>
        <th><?= $this->transEsc('Series') ?>: </th>
        <td>
        <?php foreach ($series as $field): ?>
            <?php if (is_array($field)): ?>
                <?php if (!empty($field['name'])): ?>
                    <?= $this->escapeHtml($field['name']) ?>
                    <?php if (!empty($field['number'])): ?>
                        <?= $this->escapeHtml($field['number']) ?>
                    <?php endif; ?>
                    <br/>
                <?php endif; ?>
                <?php else: ?>
                    <?= $this->escapeHtml($field) ?> <br/>
                <?php endif; ?>
        <?php endforeach; ?>
        </td>
    </tr>
    <?php endif; ?>

    <?php if (!empty($collectionTitle)): ?>
        <?php $contentDisplayed = true; ?>
        <tr>
            <th><?= $this->transEsc('Collection') ?>: </th>
            <td>
                <?php foreach ($collectionTitle as $field): ?>
                        <?= $this->escapeHtml($field) ?> <br/>
                <?php endforeach; ?>
            </td>
        </tr>
    <?php endif; ?>

    <?php if (!empty($archVolTitle)): ?>
        <?php $contentDisplayed = true; ?>
        <tr>
            <th><?= $this->transEsc('Part') ?>: </th>
            <td>
                <?= $this->escapeHtml($archVolTitle) ?> <br/>
            </td>
        </tr>
    <?php endif; ?>

    <?php /* Display and link to related items (field configured in config_base.ini -> marc_links) */ ?>
    <?php if (!empty($recordLinks)): ?>
    <?php $contentDisplayed = true; ?>
        <tr>
            <th><?= $this->transEsc('Related Items') ?></th>
            <td>
                <?php foreach ($recordLinks as $recordLink): ?>
                    <?= $this->transEsc($recordLink['title']) ?>:
                    <a href="<?= $this->recordLink()->related($recordLink['link']) ?>"><?= $this->escapeHtml($recordLink['value']) ?></a>
                    <br/>
                <?php endforeach; ?>
            </td>
        </tr>
    <?php endif; ?>

    <?php /* This section is only valid when the above links do not exist */ ?>
    <?php if (!empty($nextTitles) or !empty($prevTitles)): ?>
    <?php $contentDisplayed = true; ?>
        <tr>
            <?php if (!empty($nextTitles)): ?>
                <th><?= $this->transEsc('New Title') ?>: </th>
                <td>
                    <?php foreach ($nextTitles as $field): ?>
                        <a href="<?= $viewRecord->getLink('title', $field) ?>"><?= $this->escapeHtml($field) ?></a>
                        <br/>
                    <?php endforeach; ?>
                </td>
            <?php endif; ?>
        </tr>
        <tr>
            <?php if (!empty($prevTitles)): ?>
                <th><?= $this->transEsc('Previous Title') ?>: </th>
                <td>
                    <?php foreach ($prevTitles as $field): ?>
                        <a href="<?= $viewRecord->getLink('title', $field) ?>"><?= $this->escapeHtml($field) ?></a>
                        <br/>
                    <?php endforeach; ?>
                </td>
            <?php endif; ?>
        </tr>
    <?php endif; ?>

  <?php
  $notes = $record->getGeneralNotes();
  $freq = $record->getPublicationFrequency();
  $contDates = $record->getContResourceDates();
  $diss = $record->getDissertationNotes();
  $bib = $record->getBibliographyNotes();
  $access = $record->getAccessRestrictions();
  $related = $record->getRelationshipNotes();
  $credits = $record->getProductionCredits();
  $origtitle = $record->getOriginalTitle();
  $worktitle = $record->getWorkTitle();
  $perfomer = $record->getPerformerNote();
  $fileNote = $record->getFileNote();
  $eventNote = $record->getEventNote();
  $audience = $record->getTargetAudienceNotes();
  $awards = $record->getAwards();
  $citenotes = $record->getCitationNotes();
  $orignotes = $record->getOriginalVersionNotes();
  $histData = $record->getHistData();
  $langData = $record->getLangData();
  $copynotes = $record->getCopyNotes();
  $binding = $record->getBinding();
  $system = $record->getSystemDetails();
  $medium = $record->getPhysicalMedium();
  $acquisitionNote = $record->getAcquisitionNote();
  $ownerNote = $record->getOwnerNote();
  $publications = $record->getPublications();
  $exhibitions = $record->getExhibitions();
  $relatedEntries = $record->getRelatedEntries();
  $addPhysicalForm = $record->getAdditionalPhysicalForm();
  $specialCodedDate = $record->getSpecialCodedDate();

  $musicalPresentation = $record->getMusicPresentation();
  $musicalFormat = $record->getMusicFormat();
  $orderClassification = $record->getOrderClassification();
  $securityclassification = $record->getSecurityClassification();
  $reproduction = $record->getReproduction();
  $reproductionClassification = $record->getReproductionClassification();
  $archivalLevel = $record->getArchivalLevel();
  $findingAids = $record->getFindingAids();
  $accumulationFrequency = $record->getAccumulationFrequency();
  $supplement = $record->getSupplement();
  $relatedWork = $record->getRelatedWork();
  $access = $record->getAccess()

  ?>

  <?php if (!empty($notes) or !empty($freq) or !empty($contDates) or !empty($diss) or
      !empty($bib) or !empty($access) or !empty($related) or !empty($credits) or !empty($awards) or
      !empty($citenotes) or !empty($orignotes) or !empty($copynotes) or !empty($binding) or !empty($histData) or
      !empty($origtitle) or !empty($perfomer) or !empty($system) or !empty($relatedEntries) or !empty($addPhysicalForm) or
      !empty($langData) or !empty($audience) or !empty($eventNote) or !empty($fileNote) or !empty($publications) or
      !empty($exhibitions) or !empty($worktitle) or !empty($ownerNote) or !empty($acquisitionNote) or !empty($medium)
      or !empty($musicalPresentation) or !empty($orderClassification) or !empty($securityclassification)
      or !empty($reproduction) or !empty($reproductionClassification) or !empty($archivalLevel)
      or !empty($findingAids) or !empty($accumulationFrequency) or !empty($relatedWork) or !empty($supplement)
      or !empty($specialCodedDate) or !empty($access)): ?>
    <?php $contentDisplayed = true; ?>

      <?php /* Display general notes (field 500) */ ?>
      <?php if (!empty($notes)): ?>
        <tr>
          <th><?= $this->transEsc('Item Description') ?>: </th>
          <td>
            <?php foreach ($notes as $field): ?>
                <?= $this->escapeHtml($field) ?><br/>
            <?php endforeach; ?>
          </td>
        </tr>
      <?php endif; ?>

      <?php /* Display publication frequency (field 310) */ ?>
      <?php if (!empty($freq)): ?>
        <tr>
          <th><?= $this->transEsc('Publication Frequency') ?>: </th>
          <td>
              <?php foreach ($freq as $field): ?>
                  <?=$this->escapeHtml($field)?><br/>
              <?php endforeach; ?>
          </td>
        </tr>
      <?php endif; ?>

      <?php /* Display Dates of Publication and/or Sequential Designation (field 362) */ ?>
      <?php if (!empty($contDates)): ?>
        <tr>
          <th><?= $this->transEsc('Numeration') ?>: </th>
          <td>
              <?php foreach ($contDates as $field): ?>
                  <?= $this->escapeHtml($field)?><br>
              <?php endforeach; ?>
          </td>
        </tr>
      <?php endif; ?>

      <?php /* Display dissertation notes (field 502) */ ?>
      <?php if (!empty($diss)): ?>
        <tr>
          <th><?= $this->transEsc('Dissertation_Note') ?>: </th>
          <td>
              <?php foreach ($diss as $field): ?>
                  <?= $this->escapeHtml($field) ?><br/>
              <?php endforeach; ?>
          </td>
        </tr>
      <?php endif; ?>

      <?php /* Display bibliography notes (field 504) */ ?>
      <?php if (!empty($bib)): ?>
        <tr>
          <th><?= $this->transEsc('Bibliography') ?>: </th>
          <td>
              <?php foreach ($bib as $field): ?>
                  <?= $this->escapeHtml($field) ?><br/>
              <?php endforeach; ?>
          </td>
        </tr>
      <?php endif; ?>

      <?php /* Display access restriction notes (field 506) */ ?>
      <?php if (!empty($access)): ?>
          <tr>
              <th><?= $this->transEsc('Access') ?>: </th>
              <td>
                  <?php foreach ($access as $field): ?>
                      <?php if (empty($field['usability'])): ?>
                          <?php $fieldDesc = $field['accessrestrict']; ?>
                      <?php else: ?>
                          <?php $fieldDesc = $field['accessrestrict'] . ', ' . $field['usability']; ?>
                      <?php endif; ?>
                      <?php if (empty($field['url'])): ?>
                          <?= $this->escapeHtml($fieldDesc) ?> <br/>
                      <?php else: ?>
                          <a href="<?= $this->escapeHtmlAttr($this->proxyUrl($field['url'])) ?>"
                             target="_blank">
                              <?= $this->escapeHtml($fieldDesc) ?>
                          </a><br/>
                      <?php endif; ?>
                  <?php endforeach; ?>
              </td>
          </tr>
      <?php endif; ?>

      <?php /* Display linking entry notes (field 580) */ ?>
      <?php if (!empty($related)): ?>
          <tr>
              <th><?= $this->transEsc('Related Items Note') ?>: </th>
              <td>
                  <?php foreach ($related as $field): ?>
                      <?= $this->escapeHtml($field) ?><br/>
                  <?php endforeach; ?>
              </td>
          </tr>
      <?php endif; ?>

      <?php /* Display production credit notes (field 508) */ ?>
      <?php if (!empty($credits)): ?>
        <tr>
          <th><?= $this->transEsc('Production Credits') ?>: </th>
          <td>
              <?php foreach ($credits as $field): ?>
                  <?= $this->escapeHtml($field) ?><br/>
              <?php endforeach; ?>
          </td>
        </tr>
      <?php endif; ?>

      <?php /* Display original title (field 509) */ ?>
      <?php if (!empty($origtitle)): ?>
        <tr>
          <th><?= $this->transEsc('Original_Title') ?>: </th>
          <td>
              <?php foreach ($origtitle as $field): ?>
                  <?= $this->escapeHtml($field) ?><br/>
              <?php endforeach; ?>
          </td>
        </tr>
      <?php endif; ?>

      <?php /* Display title of work (field 240 or 130 or 730) */ ?>
      <?php if (!empty($worktitle)): ?>
          <tr>
              <th><?= $this->transEsc('Work_Title') ?>: </th>
              <td>
                  <?php foreach ($worktitle as $field): ?>
                      <?= $this->escapeHtml($field) ?><br/>
                  <?php endforeach; ?>
              </td>
          </tr>
      <?php endif; ?>

      <?php /* Display citation / reference note (field 510) */ ?>
      <?php if (!empty($citenotes)): ?>
        <tr>
          <th><?= $this->transEsc('Citation_Note') ?>: </th>
          <td>
              <?php foreach ($citenotes as $field): ?>
                  <?php if (!empty($field['source'])): ?>
                      <?php if (empty($field['location'])): ?>
                          <?php $fieldDesc = $field['source']; ?>
                      <?php else: ?>
                          <?php $fieldDesc = $field['source'] . ', ' . $field['location']; ?>
                      <?php endif; ?>
                  <?php endif; ?>
                  <?php if (empty($field['url'])): ?>
                      <?= $this->escapeHtml($fieldDesc) ?> <br/>
                  <?php else: ?>
                      <a href="<?= $this->escapeHtmlAttr($this->proxyUrl($field['url'])) ?>"
                         target="_blank">
                          <?= $this->escapeHtml($fieldDesc) ?>
                      </a><br/>
                  <?php endif; ?>
              <?php endforeach; ?>
          </td>
        </tr>
      <?php endif; ?>

      <?php /* Display participant / performers note (field 511) */ ?>
      <?php if (!empty($perfomer)): ?>
        <tr>
          <th><?= $this->transEsc('Performer') ?>: </th>
          <td>
              <?php foreach ($perfomer as $field): ?>
                  <?= $this->escapeHtml($field) ?><br/>
              <?php endforeach; ?>
          </td>
        </tr>
      <?php endif; ?>

      <?php /* Display type of computer file or data note (field 516) */ ?>
      <?php if (!empty($fileNote)): ?>
          <tr>
              <th><?= $this->transEsc('File_Note') ?>: </th>
              <td>
                  <?php foreach ($fileNote as $field): ?>
                      <?= $this->escapeHtml($field) ?><br/>
                  <?php endforeach; ?>
              </td>
          </tr>
      <?php endif; ?>

      <?php /* Display date/time and place of an event note (field 518) */ ?>
      <?php if (!empty($eventNote)): ?>
          <tr>
              <th><?= $this->transEsc('Event_Note') ?>: </th>
              <td>
                  <?php foreach ($eventNote as $field): ?>
                      <?= $this->escapeHtml($field) ?><br/>
                  <?php endforeach; ?>
              </td>
          </tr>
      <?php endif; ?>

      <?php /* Display target audience note (field 521) */ ?>
      <?php if (!empty($audience)): ?>
        <tr>
          <th><?=$this->transEsc('Audience')?>: </th>
          <td>
              <?php foreach ($audience as $field): ?>
                  <?=$this->escapeHtml($field)?><br/>
              <?php endforeach; ?>
          </td>
        </tr>
      <?php endif; ?>

      <?php /* Display citation / reference note (field 530) */ ?>
      <?php if (!empty($addPhysicalForm)): ?>
          <tr>
              <th><?= $this->transEsc('AdditionalPhysicalForm') ?>: </th>
              <td>
                  <?php foreach ($addPhysicalForm as $field): ?>
                      <?php if (empty($field['condition'])): ?>
                          <?php $fieldDesc = $field['form']; ?>
                      <?php else: ?>
                          <?php $fieldDesc = $field['form'] . ', ' . $field['condition']; ?>
                      <?php endif; ?>
                      <?php if (empty($field['url'])): ?>
                          <?= $this->escapeHtml($fieldDesc) ?> <br/>
                      <?php else: ?>
                          <a href="<?= $this->escapeHtmlAttr($this->proxyUrl($field['url'])) ?>"
                             target="_blank">
                              <?= $this->escapeHtml($fieldDesc) ?>
                          </a><br/>
                      <?php endif; ?>
                  <?php endforeach; ?>
              </td>
          </tr>
      <?php endif; ?>


      <?php /* Display original version note (field 534) */ ?>
      <?php if (!empty($orignotes)): ?>
        <tr>
          <th><?= $this->transEsc('Original_Version_Note') ?>: </th>
          <td>
              <?php foreach ($orignotes as $field): ?>
                  <?= $this->escapeHtml($field) ?><br/>
              <?php endforeach; ?>
          </td>
        </tr>
      <?php endif; ?>

      <?php /* Display biographical info and administrative history (field 545) */ ?>
      <?php if (!empty($histData)): ?>
          <tr>
              <th><?= $this->transEsc('Bio_Adm_Hist') ?>: </th>
              <td>
                  <?php foreach ($histData as $field): ?>
                      <?= $this->escapeHtml($field) ?><br/>
                  <?php endforeach; ?>
              </td>
          </tr>
      <?php endif; ?>

      <?php /* Display language info (field 546) */ ?>
      <?php if (!empty($langData)): ?>
          <tr>
              <th><?= $this->transEsc('Language_Note') ?>: </th>
              <td>
                  <?php foreach ($langData as $field): ?>
                      <?= $this->escapeHtml($field) ?><br/>
                  <?php endforeach; ?>
              </td>
          </tr>
      <?php endif; ?>

      <?php /* Display copy and version identification note (fields 562 and 590) */ ?>
      <?php if (!empty($copynotes)): ?>
        <tr>
          <th><?= $this->transEsc('Copy_Note') ?>: </th>
          <td>
              <?php foreach ($copynotes as $field): ?>
                  <?= $this->escapeHtml($field) ?><br/>
              <?php endforeach; ?>
          </td>
        </tr>
      <?php endif; ?>

      <?php /* Display binding (field 563) */ ?>
      <?php if (!empty($binding)): ?>
          <tr>
              <th><?= $this->transEsc('Binding') ?>: </th>
              <td>
                  <?php foreach ($binding as $field): ?>
                      <?= $this->escapeHtml($field) ?><br/>
                  <?php endforeach; ?>
              </td>
          </tr>
      <?php endif; ?>

      <?php /* Display system information note (field 538) */ ?>
      <?php if (!empty($system)): ?>
        <tr>
          <th><?= $this->transEsc('Format') ?>: </th>
          <td>
            <?php foreach ($system as $field): ?>
                <?= $this->escapeHtml($field) ?><br/>
            <?php endforeach; ?>
          </td>
        </tr>
      <?php endif; ?>

      <?php /* Display Physical Medium (field 340) */ ?>
      <?php if (!empty($medium)): ?>
          <tr>
              <th><?= $this->transEsc('PhysicalMedium') ?>: </th>
              <td>
                  <?php foreach ($medium as $field): ?>
                      <?= $this->escapeHtml($field) ?><br/>
                  <?php endforeach; ?>
              </td>
          </tr>
      <?php endif; ?>

      <?php /* Display Immediate Source of Acquisition Note (field 541) */ ?>
      <?php if (!empty($acquisitionNote)): ?>
          <tr>
              <th><?= $this->transEsc('AcquisitionNote') ?>: </th>
              <td>
                  <?php foreach ($acquisitionNote as $field): ?>
                      <?= $this->escapeHtml($field) ?><br/>
                  <?php endforeach; ?>
              </td>
          </tr>
      <?php endif; ?>

      <?php /* Display Ownership and Custodial History Note (field 561) */ ?>
      <?php if (!empty($ownerNote)): ?>
          <tr>
              <th><?= $this->transEsc('CustodialHistory') ?>: </th>
              <td>
                  <?php foreach ($ownerNote as $field): ?>
                          <?php $fieldDesc = $field['custodhist']; ?>
                      <?php if (empty($field['url'])): ?>
                          <?= $this->escapeHtml($fieldDesc) ?> <br/>
                      <?php else: ?>
                          <a href="<?= $this->escapeHtmlAttr($this->proxyUrl($field['url'])) ?>"
                             target="_blank">
                              <?= $this->escapeHtml($fieldDesc) ?>
                          </a><br/>
                      <?php endif; ?>
                  <?php endforeach; ?>
              </td>
          </tr>
      <?php endif; ?>

      <?php /* Display Publications About Described Materials Note (field 581) */ ?>
      <?php if (!empty($publications)): ?>
          <tr>
              <th><?= $this->transEsc('Publications') ?>: </th>
              <td>
                  <?php foreach ($publications as $field): ?>
                      <?= $this->escapeHtml($field) ?><br/>
                  <?php endforeach; ?>
              </td>
          </tr>
      <?php endif; ?>

      <?php /* Display Exhibitions note (field 585) */ ?>
      <?php if (!empty($exhibitions)): ?>
          <tr>
              <th><?= $this->transEsc('Exhibitions') ?>: </th>
              <td>
                  <?php foreach ($exhibitions as $field): ?>
                      <?= $this->escapeHtml($field) ?><br/>
                  <?php endforeach; ?>
              </td>
          </tr>
      <?php endif; ?>

      <?php /* Display award notes (field 586) */ ?>
      <?php if (!empty($awards)): ?>
        <tr>
          <th><?= $this->transEsc('Awards') ?>: </th>
          <td>
              <?php foreach ($awards as $field): ?>
                  <?= $this->escapeHtml($field) ?><br/>
              <?php endforeach; ?>
          </td>
        </tr>
      <?php endif; ?>
  <?php endif; ?>

    <?php /* Display "Musikalische Ausgabeformat" for HAN (field 254) */ ?>
    <?php if (!empty($musicalPresentation)): ?>
        <tr>
            <th><?= $this->transEsc('MusicPresentation') ?>: </th>
            <td>
                <?php foreach ($musicalPresentation as $field): ?>
                    <?= $this->escapeHtml($field) ?><br/>
                <?php endforeach; ?>
            </td>
        </tr>
    <?php endif; ?>

    <?php /* Display "Musikalische Ausgabeform" gnd_music (field 348) */ ?>
    <?php if (!empty($musicalFormat)): ?>
        <tr>
            <th><?= $this->transEsc('MusicFormat') ?>: </th>
            <td>
                <?php foreach ($musicalFormat as $field): ?>
                    <?= $this->escapeHtml($field) ?><br/>
                <?php endforeach; ?>
            </td>
        </tr>
    <?php endif; ?>

    <?php /* Display "Ordnung&Klassifikation" for HAN (field 351) */ ?>
    <?php if (!empty($orderClassification)): ?>
        <tr>
            <th><?= $this->transEsc('OrderClassification') ?>: </th>
            <td>
                <?php foreach ($orderClassification as $field): ?>
                    <?= $this->escapeHtml($field) ?><br/>
                <?php endforeach; ?>
            </td>
        </tr>
    <?php endif; ?>

    <?php /* Display "Zugangsbestimmungen" for HAN (field 355) */ ?>
    <?php if (!empty($securityclassification)): ?>
        <tr>
        <th><?= $this->transEsc('SecurityClassification') ?>: </th>
            <td>
                <?php foreach ($securityclassification as $field): ?>
                    <?php if (empty($field['date'])): ?>
                        <?php $fieldDesc = $field['security']; ?>
                    <?php else: ?>
                        <?php $fieldDesc = $field['security'] . ', Frist: ' . $field['date']; ?>
                    <?php endif; ?>
                    <?= $this->escapeHtml($fieldDesc) ?><br/>
                <?php endforeach; ?>
            </td>
        </tr>
    <?php endif; ?>

    <?php /* Display "Begleitmaterial" for HAN (field 525) */ ?>
    <?php if (!empty($supplement)): ?>
        <tr>
            <th><?= $this->transEsc('Supplement') ?>: </th>
            <td>
                <?php foreach ($supplement as $field): ?>
                    <?= $this->escapeHtml($field) ?><br/>
                <?php endforeach; ?>
            </td>
        </tr>
    <?php endif; ?>



    <?php /* Display "Reproduktion / Reproduktionen eines Originals" for HAN (field 533) */ ?>
    <?php if (!empty($reproduction)): ?>
        <tr>
            <th><?= $this->transEsc('Reproduction') ?>: </th>
            <td>
                <?php foreach ($reproduction as $field): ?>
                    <?= $this->escapeHtml($field) ?><br/>
                <?php endforeach; ?>
            </td>
        </tr>
    <?php endif; ?>

    <?php /* Display "Reproduktionsbestimmung" for HAN (field 540) */ ?>
    <?php if (!empty($reproductionClassification)): ?>
        <tr>
            <th><?= $this->transEsc('ReproductionClassification') ?>: </th>
            <td>
                <?php foreach ($reproductionClassification as $field): ?>
                    <?php if (empty($field['resource'])): ?>
                        <?php $fieldDesc = $field['regularisation']; ?>
                    <?php else: ?>
                        <?php $fieldDesc = $field['regularisation'] . ', ' . $field['resource']; ?>
                    <?php endif; ?>
                    <?php if (empty($field['url'])): ?>
                        <?= $this->escapeHtml($fieldDesc) ?> <br/>
                    <?php else: ?>
                        <a href="<?= $this->escapeHtmlAttr($this->proxyUrl($field['url'])) ?>"
                           target="_blank">
                            <?= $this->escapeHtml($fieldDesc) ?>
                        </a><br/>
                    <?php endif; ?>
                <?php endforeach; ?>
            </td>
        </tr>
    <?php endif; ?>

    <?php /* Display "Verwandte Verzeichnungseinheit" for HAN (field 544) */ ?>
    <?php if (!empty($archivalLevel)): ?>
        <tr>
            <th><?= $this->transEsc('ArchivalLevel') ?>: </th>
            <td>
                <?php foreach ($archivalLevel as $field): ?>
                    <?= $this->escapeHtml($field) ?><br/>
                <?php endforeach; ?>
            </td>
        </tr>
    <?php endif; ?>

    <?php /* Display "Findhilfsmittel" for HAN (field 555) */ ?>
    <?php if (!empty($findingAids)): ?>
        <tr>
            <th><?= $this->transEsc('FindingAids') ?>: </th>
            <td>
                <?php foreach ($findingAids as $field): ?>
                    <?php if (empty($field['degreecontrol'])): ?>
                        <?php $fieldDesc = $field['cumulativeindex']; ?>
                    <?php else: ?>
                        <?php $fieldDesc = $field['cumulativeindex'] . ', ' . $field['degreecontrol']; ?>
                    <?php endif; ?>
                    <?php if (empty($field['url'])): ?>
                        <?= $this->escapeHtml($fieldDesc) ?> <br/>
                    <?php else: ?>
                        <a href="<?= $this->escapeHtmlAttr($this->proxyUrl($field['url'])) ?>"
                           target="_blank">
                            <?= $this->escapeHtml($fieldDesc) ?>
                        </a><br/>
                    <?php endif; ?>
                <?php endforeach; ?>
            </td>
        </tr>
    <?php endif; ?>

    <?php /* Display "Ansammlung&Nutzungshäufigkeit" for HAN (field 584) */ ?>
    <?php if (!empty($accumulationFrequency)): ?>
        <tr>
            <th><?= $this->transEsc('AccumulationFrequency') ?>: </th>
            <td>
                <?php foreach ($accumulationFrequency as $field): ?>
                    <?= $this->escapeHtml($field) ?><br/>
                <?php endforeach; ?>
            </td>
        </tr>
    <?php endif; ?>


    <?php if (!empty($specialCodedDate)): ?>
        <tr>
            <th><?= $this->transEsc('DateOrigin') ?>: </th>
            <td>
                <?php foreach ($specialCodedDate as $field): ?>
                    <?= $this->escapeHtml($field) ?><br/>
                <?php endforeach; ?>
            </td>
        </tr>
    <?php endif; ?>

    <?php /* Display "Nebeneintratung Werk 700/710" */ ?>
    <?php if (!empty($relatedWork)): ?>
        <tr>
            <th><?= $this->transEsc('RelatedWork') ?>: </th>
            <td>
                <?php foreach ($relatedWork as $field): ?>
                    <?= $this->escapeHtml($field) ?><br/>
                <?php endforeach; ?>
            </td>
        </tr>
    <?php endif; ?>

    <?php
    /** == Rara-Elements (place name, special entries == */
    ?>
    <?php if (!empty($placeNames) || ($hierarchicalPlaceNames)): ?>
    <?php $contentDisplayed = true; ?>
        <th><?= $this->transEsc('PublicationPlace')?>: </th>
        <td>
            <?php foreach ($placeNames as $field): ?>
                <?= $this->escapeHtml($field) ?><br />
            <?php endforeach; ?>
            <?php foreach ($hierarchicalPlaceNames as $field): ?>
                <?= $this->escapeHtml($field) ?><br />
            <?php endforeach; ?>
        </td>
    <?php endif; ?>

    <?php if (!empty($relatedEntries)): ?>
        <tr>
            <th><?= $this->transEsc('Related Entries') . ':' ?></th>
            <td>
                <?php foreach ($this->formatRelatedEntries($relatedEntries) as $relatedEntry): ?>
                    <?= $this->escapeHtml($relatedEntry)?> <br>
                <?php endforeach; ?>
            </td>
        </tr>
    <?php endif; ?>

    <?php /** == Schlagworte */ ?>
    <?php if($subjectVocabularies): ?>
    <?php $contentDisplayed = true; ?>
    <?php /* ohne allgemeine Überschrift, Design @todo
    <th><?= $this->transEsc('Subjects') ?></th>
    */ ?>
    <?php foreach ($subjectVocabularies as $vocabulary => $fieldsData): ?>
        <tr>
            <th><?= $this->transEsc('vocabulary.' . $vocabulary, [], $vocabulary) ?>: </th>
            <td>
            <?php foreach ($fieldsData as $fieldIndex => $fieldData): ?>
                <?php foreach ($fieldData as $fieldValues): ?>
                    <?php /* Optional: Filter out numeric fields directly here in template
                          $fieldValues = array_filter($fieldValues, function($value) {
                             return !is_numeric($value);
                          }); */ ?>
                        <?= $this->escapeHtml(implode(' > ', $fieldValues)) ?><br />
                    <?php endforeach; ?>
                <?php endforeach; ?>
            </td>
        </tr>
    <?php endforeach; ?>
    <?php endif; ?>


    <?php if (!isset($contentDisplayed) || !$contentDisplayed): // Avoid errors if there were no rows above ?>
    <tr>
        <td><?=$this->transEsc('no_description')?></td>
    </tr>
  <?php endif; ?>
</table>
