<?php

/** @var  Swissbib\RecordDriver\SolrMarc $record */
$record = $this->driver;
$titleStatement = $record->getTitleStatement(true);

/** @var Swissbib\View\Helper\Record $viewRecord */
$viewRecord = $this->record($record);
$responsible = $viewRecord->getResponsible($titleStatement, $record);
$formats = $record->getFormats();

//for the head title
$extendedTitle = '';

if (!empty($responsible)) {
    $extendedTitle .= ' / ' . $responsible;
}

if (isset($formats) and isset($formats[0])) {
    $extendedTitle .= ' (' . $this->zendTranslate($formats[0], 'formats') . ')';
}

$extendedTitle .= '. ';

$holdings = $record->getHoldingsStructure();

// Copy favorites to own container
$holdings = $this->extractFavoriteInstitutionsForHoldings($holdings);

// Set page title.
$this->headTitle('swissbib : ' . $this->driver->getBreadcrumb() . $extendedTitle);

?>
<?php if ($holdings): ?>

  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <?php foreach ($holdings as $groupCode => $group): ?>
    <?php $groupNetworkCode = $group['networkCode'] ?? 'dummy'; ?>
    <!-- begin: group <?= $groupCode ?> -->
    <div class="panel panel-default" id="holdings-<?= $groupCode ?>">
      <!-- begin: group heading -->
      <div class="panel-heading" role="tab" id="heading-<?= $groupCode ?>">
        <h3 class="panel-title">
          <a data-toggle="collapse" href="#collapse-<?= $groupCode ?>" aria-expanded="false" aria-controls="collapse-<?= $groupCode ?>">
            <?php if (is_array($group['label'])): ?>
              <?php $group['label'] = implode('', array_unique($group['label'])); ?>
            <?php endif; ?>
            <?php if ($group['label'] == 'mylibraries'): ?>
              <span><?= $this->zendTranslate($group['label']) ?></span>
            <?php else: ?>
              <span><?= $this->zendTranslate($group['label'], 'group') ?></span>
            <?php endif; ?>
          </a>
        </h3>
      </div>
      <!-- end: group heading -->
      <!-- begin: group content -->
      <div id="collapse-<?= $groupCode ?>" level="1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-<?= $groupCode ?>">
        <div class="list-group">

          <div class="panel-group" id="institutions-<?= $groupCode ?>" role="tablist" aria-multiselectable="true">
          <?php foreach ($group['institutions'] as $institutionCode => $institution): ?>

            <!-- begin: institution <?= $institutionCode ?>-->
            <div class="panel panel-default institutionBox institution-<?= $institutionCode ?>-box" id="holding-institution-<?= $groupCode ?>-<?= $institutionCode ?>-box">
              <!-- begin: institution heading -->
              <div class="panel-heading" role="tab" id="heading-<?= $groupCode ?>-<?= $institutionCode ?>">
                <h4 class="panel-title clearfix">
                  <div class="miniactions miniactions-<?= $institutionCode ?> pull-right">
                    <div class="institutionFavorite">
                      <a href="javascript:void(0)" title="<?php if (isset($institution['favorite']) && $institution['favorite']): ?> <?= $this->transEsc('mylibraries.remove')?> <?php else: ?> <?= $this->transEsc('mylibraries.add')?> <?php endif; ?>"></a>
                    </div>
                  </div>
                  <a data-toggle="collapse" href="#collapse-<?= $groupCode ?>-<?= $institutionCode ?>" aria-expanded="false" aria-controls="collapse-<?= $groupCode ?>-<?= $institutionCode ?>"
                     id="holding-institution-<?= $groupCode ?>-<?= $institutionCode ?>" data-expandlibGroup="<?= $groupNetworkCode . '-' . $institutionCode ?>" class="toggler institutionToggler">
                    <?= $this->escapeHtml($this->zendTranslate($institution['label'], 'institution')) ?>
                  </a>
                </h4>
              </div>
              <!-- end: institution heading -->

              <!-- begin: institution content -->
              <div id="collapse-<?= $groupCode ?>-<?= $institutionCode ?>" level="2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-<?= $groupCode ?>-<?= $institutionCode ?>">
                <div class="panel-body">
                  <!--begin: holdings-table -->
                  <div class="holding-institution-<?= $groupCode ?>-<?= $institutionCode ?>" id="holding-institution-<?= $institutionCode ?>">
                    <div class="holdingsAjaxSpinner holding-ajax-spinner-<?= $groupCode ?>-<?= $institutionCode ?>">
                      <i class="fa fa-spinner fa-spin"></i>
                      <span>Loading...</span>
                    </div>
                  </div>
                  <!--end: holdings-table -->
                </div>
              </div>
              <!-- end: institution content -->
            </div>
            <!-- end: institution <?= $institutionCode ?> -->

          <?php endforeach; ?>
          </div>

        </div>
      </div>
      <!-- end: group content -->
    </div>
    <!-- end: group <?= $groupCode ?> -->

    <?php endforeach; ?>

  </div>

  <div id="holdings-items-popup" style="display:none">
    Loading...
  </div>

  <script type="text/javascript">
    swissbib.Holdings.initRecord('<?=$record->getUniqueID()?>');
    swissbib.HoldingFavorites.initRecord('<?=$record->getUniqueID()?>');
    swissbib.Accordion.initRecord('<?=$record->getUniqueID()?>');
    vufindString.favoriteReload = '<?=$this->transEsc('mylibraries.reload')?>';
  </script>

<?php else: ?>

  <?= $this->render('RecordTab/holdingils-noholdings') ?>

<?php endif; ?>