<h1>Costi / Termini di spedizione</h1>
<p>I documenti di una biblioteca che dispone di un servizio di corriere IDS possono essere ordinati, ritirati e restituiti presso qualsiasi altra biblioteca con servizio di corriere IDS:</p>
<ul>
    <li><a href="https://www.ag.ch/de/bks/kultur/archiv_bibliothek/kantonsbibliothek/kantonsbibliothek.jsp" target="_blank">Aarau, Aargauer Kantonsbibliothek</a></li>
    <li><a href="http://www.ub.unibas.ch/bibliotheksnetz/verbund-basel/bibliotheken-im-verbund/liste-der-bibliotheken/a100/?S=1" target="_blank">Basel UB Hauptbibliothek</a></li>
    <li><a href="http://www.ub.unibas.ch/bibliotheksnetz/verbund-basel/bibliotheken-im-verbund/liste-der-bibliotheken/a140/?S=1" target="_blank">Basel UB Medizin</a> (consegna solo a Berna)</li>
    <li><a href="http://www.ub.unibas.ch/bibliotheksnetz/verbund-basel/bibliotheken-im-verbund/liste-der-bibliotheken/a125/?S=1" target="_blank">Basel UB Wirtschaft - SWA</a></li>
    <li><a href="http://unibe.ch/universitaet/dienstleistungen/universitaetsbibliothek/teilbibliotheken/berner_ids_bibliotheken/b404/index_ger.html" target="_blank">Bern UB Bibliothek Münstergasse</a></li>
    <li><a href="http://unibe.ch/universitaet/dienstleistungen/universitaetsbibliothek/teilbibliotheken/berner_ids_bibliotheken/b410/index_ger.html" target="_blank">Bern UB Basisbibliothek Unitobler</a></li>
    <li><a href="http://unibe.ch/universitaet/dienstleistungen/universitaetsbibliothek/teilbibliotheken/berner_ids_bibliotheken/b500/index_ger.html" target="_blank">Bern UB Bibliothek vonRoll</a></li>
    <li><a href="http://unibe.ch/universitaet/dienstleistungen/universitaetsbibliothek/teilbibliotheken/berner_ids_bibliotheken/b452/index_ger.html" target="_blank">Bern UB Fachbereichsbibliothek Bühlplatz</a></li>
    <li><a href="http://unibe.ch/universitaet/dienstleistungen/universitaetsbibliothek/teilbibliotheken/berner_ids_bibliotheken/b465/index_ger.html" target="_blank">Bern UB Juristische Bibliothek</a></li>
    <li><a href="http://unibe.ch/universitaet/dienstleistungen/universitaetsbibliothek/teilbibliotheken/berner_ids_bibliotheken/b415/index_ger.html" target="_blank">Bern UB Schweizerische Osteuropabibliothek</a></li>
    <li><a href="https://www.phbern.ch/schule-und-weiterbildung/mediothek.html" target="_blank">Bern PH Weiterbildung und Medienbildung</a></li>
    <li><a href="https://www.hslu.ch/de-ch/technik-architektur/campus/bibliothek/" target="_blank">Luzern, Hochschule Luzern - Bibliothek Technik & Architektur</a></li>
    <li><a href="https://www.hslu.ch/de-ch/design-kunst/ueber-uns/kunst-und-designbibliothek/" target="_blank">Luzern, Hochschule Luzern - Kunst- und Designbibliothek</a></li>
    <li><a href="https://www.hslu.ch/de-ch/soziale-arbeit/campus/mediothek/" target="_blank">Luzern, Hochschule Luzern - Mediothek Soziale Arbeit</a></li>
    <li><a href="https://www.hslu.ch/de-ch/musik/campus/bibliothek/" target="_blank">Luzern, Hochschule Luzern – Musikbibliothek</a></li>
    <li><a href="http://www.zhbluzern.ch/index.php?id=1218" target="_blank">Luzern, Zentral- und Hochschulbibliothek Sempacherstrasse</a></li>
    <li><a href="http://www.zhbluzern.ch/index.php?id=1219" target="_blank">Luzern, Zentral- und Hochschulbibliothek UNI/PH-Gebäude</a></li>
    <li><a href="http://www.zhbluzern.ch/standorte/hochschule-luzern-informatik/" target="_blank">Luzern, Zentral- und Hochschulbibliothek, Bibliothek Hochschule Luzern – Informatik</a></li>
    <li><a href="http://www.zhbluzern.ch/standorte/hochschule-luzern-wirtschaft/" target="_blank">Luzern, Zentral- und Hochschulbibliothek Wirtschaft</a></li>
    <li><a href="http://www.unisg.ch/wissen/bibliothek" target="_blank">St. Gallen, HSG</a></li>
    <li><a href="http://www.sg.ch/home/kultur/kantonsbibliothek.html" target="_blank">St. Gallen, Kantonsbibliothek Vadiana</a></li>
    <li><a href="http://www.zb.uzh.ch" target="_blank">Zürich, Zentralbibliothek</a></li>
</ul>

<p><strong>Costi:</strong> Fr. 5.- per documento. Pagamento in contanti al momento del ritiro. Per il mancato ritiro di documenti ordinati viene fatturato il medesimo importo.</p>
<p><strong>Tempi di consegna:</strong> I documenti ordinati online vengono prelevati dal corriere IDS giornalmente (salvo il sabato) dalla biblioteca prestante e, di regola, consegnati entro due giorni lavorativi alla biblioteca che hai scelto come punto di ritiro. Qui potrai ritirarli durante l'arco di una settimana.</p>

<h1>Servizio di corriere locale</h1>
<p>Il corriere locale di <a href="http://www.ub.unibas.ch/ub-hauptbibliothek/dienstleistungen/ausleihe/kurier-und-fernleihe/" target="_blank">Basilea</a> è gratuito. Il tempo di consegna è di un giorno lavorativo. </p>
<p>Il corriere locale di <a href="http://www.unibe.ch/universitaet/dienstleistungen/universitaetsbibliothek/service/ausleihe/kurier/index_ger.html" target="_blank">Berna</a> è gratuito. Per i tempi di consegna vedi <a href="http://www.unibe.ch/universitaet/dienstleistungen/universitaetsbibliothek/service/ausleihe/kurier/lieferfristen_berner_kurier/index_ger.html" target="_blank">il relativo sito web</a>.</p>

<h1>Invio di copie</h1>
<p><strong>Costi:</strong> Fr. 5.- ogni 20 pagine </p>
<p><strong>Tempi di consegna:</strong> Da lunedì a venerdì entro 24 ore <br>
    Per informazioni dettagliate (in tedesco):
    <a href="http://www.ub.unibas.ch/ub-hauptbibliothek/dienstleistungen/kopienversand/" target="_blank">Kopienversand Basel</a> /
    <a href="http://www.unibe.ch/universitaet/dienstleistungen/universitaetsbibliothek/service/ausleihe/fernleihe___document_delivery/index_ger.html" target="_blank">Kopienversand Bern</a> </p>
