<h1>Conto utente / Il mio swissbib</h1>
<p>Il tuo conto IDS Basel Bern (<a href="<?= $this->url('myresearch-userlogin') ?>">Il mio swissbib</a>) ti fornisce informazioni riguardo ai tuoi prestiti, alle tue prenotazioni, ai tuoi richiami e alle tue spese. Dal tuo conto puoi prolungare i prestiti o modificare i tuoi <a href="<?= $this->url('myresearch-changeaddress'); ?>"> dati personali</a> e le tue <a href="<?= $this->url('myresearch-settings'); ?>"><?= $this->transEsc('My_Search_Settings') ?></a>.</p>
<h2>Non hai ancora un conto utente?</h2>
<p><a href="http://aleph.unibas.ch/F/?func=bor-new-0" target="_blank"><?= $this->transEsc('Create New Account') ?></a> (o direttamente sul posto presso una delle biblioteche IDS a <a href="http://www.ub.unibas.ch/bibliotheksnetz/verbund-basel/bibliotheken-im-verbund/liste-der-bibliotheken" target="_blank">Basilea</a> o a <a href="http://unibe.ch/universitaet/dienstleistungen/universitaetsbibliothek/teilbibliotheken/berner_ids_bibliotheken/liste/index_ger.html" target="_blank">Berna</a>)</p>
<p>Le tessere utente di altre <a href="http://www.informationsverbund.ch/21.0.html" target="_blank" title="IDS-Bibliothek">biblioteche IDS</a> sono <a href="http://www.informationsverbund.ch/6.0.html" target="_blank">valide</a> anche per swissbib Basel Bern. Il login è inoltre possibile mediante la carta dello studente o la tessera personale dei dipendenti delle università di Basilea e Berna.</p>
<h2>Hai dimenticato la password?</h2>
<p>Contatta:</p>
<ul>
    <li>Regione di Basilea: <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#105;&#110;&#102;&#111;&#45;&#117;&#98;&#64;&#117;&#110;&#105;&#98;&#97;&#115;&#46;&#99;&#104;">&#105;&#110;&#102;&#111;&#45;&#117;&#98;&#64;&#117;&#110;&#105;&#98;&#97;&#115;&#46;&#99;&#104;</a></li>
    <li>Regione di Berna: <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#105;&#110;&#102;&#111;&#64;&#117;&#98;&#46;&#117;&#110;&#105;&#98;&#101;&#46;&#99;&#104;">&#105;&#110;&#102;&#111;&#64;&#117;&#98;&#46;&#117;&#110;&#105;&#98;&#101;&#46;&#99;&#104;</a></li>
</ul>
<h2>Hai smarrito la tua tessera utente?</h2>
<p>Presentati in una biblioteca IDS: <a href="http://www.ub.unibas.ch/bibliotheksnetz/verbund-basel/bibliotheken-im-verbund/liste-der-bibliotheken" target="_blank">regione di Basilea</a>, <a href="http://unibe.ch/universitaet/dienstleistungen/universitaetsbibliothek/teilbibliotheken/berner_ids_bibliotheken/liste/index_ger.html" target="_blank">regione di Berna</a>. Una tessera sostitutiva viene rilasciata su pagamento di una tassa e presentazione di un documento d'identità.</p>
<h1>Impostazioni personali</h1>
<h2>Ricerche salvate</h2>
<p>Se non hai effettuato il login, le tue ricerche rimarranno salvate fino a quando non chiudi il browser. Dopo il login, invece, potrai salvare le tue ricerche a lungo termine per poterle ripetere quando necessario.</p>
<h2>Impostazioni</h2>
<p>Puoi impostare secondo le tue preferenze la lingua dell'interfaccia, l'importo massimo di risultati per pagina, il criterio di ordinamento dei titoli trovati. Le tue impostazioni vengono attivate solo dopo aver effettuato il login.</p>
<h2>Le mie biblioteche</h2>
<p>Per aggiungere una biblioteca a Le mie biblioteche puoi utilizzare la maschera di ricerca <a href="<?=$this->url('myresearch-favorite-institutions')?>"><?=$this->transEsc('mylibraries')?></a> oppure, in una notizia bibliografica, cliccare su <i class="fa fa-heart-o"></i> sotto la biblioteca che desideri. Nell'elenco dei risultati le tue biblioteche preferite sono messe in evidenza dall'icona <i class="fa fa-heart"></i>. Se hai effettuato il login, puoi inoltre filtrare i titoli secondo la loro presenza o meno nelle tue biblioteche preferite.</p>
<h2>Liste</h2>
<p>Dopo il login, hai la possibilità di salvare dei titoli in una lista cliccando su <i class="fa fa-list-ul"></i>. Le liste ti aiutano a ricostruire i risultati di specifiche ricerche.</p>