<div class="home-content-box">
  <h2 class="lead">Was kommt die kommenden Jahre auf swissbib zu?</h2>
  <p>Für swissbib war 2018 ein ereignisreiches Jahr. Nichts weniger als die Zukunft und der Weiterbetrieb der kommenden Jahre stand auf der Traktandenliste. Bereits im März <a href="http://swissbib.blogspot.com/2018/03/die-schweizer-bibliotheken-unterstutzen.html">berichteten</a> wir über die Finanzierungsaktion, bei der wir sämtliche Bibliotheken, Archive und Dokumentationen, deren Bestände in swissbib recherchierbar sind, anschrieben und um finanzielle Unterstützung baten.</p>
  <a href="https://swissbib.blogspot.com/2018/11/was-kommt-die-kommenden-jahre-auf.html" target="_blank" class="btn btn-link">Mehr Informationen</a>
</div>