<h1>À propos de swissbib</h1>
<h2>Qu'est-ce que swissbib ?</h2>
<p>
    Swissbib est un catalogue national qui vous permet d'effectuer une recherche simultanée dans les bibliothèques des universités, hautes
    écoles et institutions de recherche de Suisse, la Bibliothèque nationale et de nombreuses autres institutions. Vous utilisez swissbib à
    la fois pour faire une recherche, en afficher les résultats et savoir dans quelles bibliothèques se trouvent les documents que vous
    cherchez.
</p>

<h2>Que puis-je trouver dans swissbib ?</h2>
<p>
    Swissbib recense en 21 millions de notices les collections de plus de 900 bibliothèques, médiathèques et archives de toutes les
    régions de Suisse. Il donne accès, en une seule interface, à des livres, périodiques, thèses, e-books, documents numérisés,
    films, partitions de musique, supports audio, photos, diapositives, matériels d'enseignement, cours de langue et bien plus encore.
</p>

<h2>Comment chercher dans swissbib ?</h2>
<p>
    Swissbib offre une fonction de recherche simple qui peut être affinée à l'aide de <a class="help-link" data-lightbox href="<?=$this->url('help-home')?>?topic=search" title="<?= $this->transEsc('Search Tips') ?>">nombreuses options</a>
    ainsi qu'une <a href="<?= $this->url('search-advanced') ?>" title="<?= $this->transEsc('Advanced Search') ?>">recherche avancée</a>.
    Les résultats s'affichent par ordre de pertinence mais peuvent également être triés par auteur, par titre ou par ordre chronologique. Les filtres
    vous permettent ensuite d'affiner votre recherche en utilisant plusieurs critères.
</p>

<h2>Comment accéder au document souhaité ?</h2>
<p>
    L'icône <i class="fa fa-institution"></i> vous indique le nombre et, après un clic, les noms de bibliothèques possédant un exemplaire.
    En cliquant sur la bibliothèque de votre choix, vous obtiendrez de plus amples informations. Un lien direct vous est proposé avec
    l'icône <i class="fa fa-external-link"></i> si le document recherché est accessible librement en format numérique.
</p>
<p>
    Lorsque vous affichez la notice dans son format complet, l'onglet "Exemplaires" vous donne les informations concernant l'emplacement,
    la cote et la disponibilité. Pour le prêt ou la commande, swissbib vous redirige vers les catalogues régionaux des réseaux suisses
    de bibliothèques auprès desquels vous devrez ensuite vous identifier.
</p>

<h2>Me connecter à swissbib – à quoi ça sert ?</h2>
<p>
    Une connexion à swissbib vous permet de personnaliser plusieurs fonctionnalités :
</p>
<ul class="list">
    <li>poursuivre une recherche effectuée antérieurement</li>
    <li>enregistrer vos bibliothèques préférées comme Mes bibliothèques par défaut</li>
    <li>sauvegarder à long terme des listes de sélections</li>
    <li>configurer l'interface de recherche (langue, longueur des listes de résultats)</li>
</ul>
<p>
    <strong>Sans</strong> connexion à swissbib, vous perdez les réglages effectués dès la fermeture de votre navigateur web.
</p>

<h2>Comment fonctionne la connexion à swissbib ?</h2>
<p>
    Swissbib étant un service suprarégional, la connexion se fait indépendamment de l'affiliation à une bibliothèque. Deux
    possibilités s'offrent à vous :
</p>
<ul class="list">
    <li>
        <strong>switchAAI:</strong> Les étudiants et le personnel des universités, hautes écoles spécialisées et autres
        institutions d'enseignement et de recherche peuvent se connecter grâce au service national de switch. L'accès
        est fourni par ces institutions et est utilisé également pour les services tels que VPN ou les plates-formes
        d'apprentissage en ligne
        (<a href="https://www.switch.ch/services/aai/" target="_blank" title="Info sur switchAAI">plus d'informations</a>).
    </li>
    <li>
        <strong>SWITCH edu-ID:</strong> Ce service nouveau de switch est conçu pour les utilisatrices et utilisateurs qui
        ne sont pas affiliés à une haute école ou université et qui ne peuvent donc pas se connecter en utilisant
        switchAAI
        (<a href="https://projects.switch.ch/eduid/" target="_blank" title="Info sur SWITCH edu-ID">plus d'informations</a>).
    </li>
</ul>

<h2>Déconnexion</h2>
<p>
    Si vous vous êtes connectés depuis un ordinateur public, déconnectez-vous et <strong>fermez ensuite le navigateur web</strong> afin d'éviter
    que votre compte ne soit utilisé par une autre personne.
</p>

<h2>Swissbib est-il mis à jour régulièrement ?</h2>
<p>
    Les données de swissbib sont mises à jour quotidiennement.
</p>