<h1>Le projet swissbib</h1>
<p>Projet national, swissbib est financé par la Conférence universitaire suisse et swissuniversities dans le cadre du programme
    <a href="http://www.swissuniversities.ch/isci"
       target="_blank">P-2 "Information scientifique : accès, traitement et sauvegarde"</a>. Le projet est affilié à la
    <a href="https://ub.unibas.ch" target="_blank">Bibliothèque universitaire de Bâle</a>.
    Pour la période de 2008 à 2013, swissbib a été rendu possible grâce au financement du programme d'innovation et de coopération
    <a href="http://www.e-lib.ch" target="_blank">"e-lib.ch : Bibliothèque électronique suisse"</a>.
</p>

<h2>Réseaux de bibliothèques et dépôts numériques participant</h2>
<p>
    Les réseaux de bibliothèques, dépôts numériques et collections spéciales listés ci-dessous sont intégrés dans swissbib. C'est la mise à
    disposition de leurs données et leur soutien à plusieurs niveaux qui permettent l'existence de swissbib :
</p>
<ul class="list">
    <li>Réseaux IDS – Informationsverbund Deutschschweiz</li>
    <ul>
        <li>IDS Basel Bern</li>
        <li>NEBIS</li>
        <li>IDS Luzern</li>
        <li>IDS St. Gallen</li>
    </ul>
    <li>Bibliothèque nationale suisse</li>
    <li>RERO - Réseau des bibliothèques de Suisse occidentale</li>
    <li>SBT - Sistema bibliotecario ticinese</li>
    <li>Renouvaud - Réseau vaudois des bibliothèques</li>
    <li>Réseau de bibliothèques Alexandria</li>
    <li>Aargauer Bibliotheksnetz</li>
    <li>Bibliotheksverbund Graubünden</li>
    <li>St. Galler Bibliotheksnetz</li>
    <li>Liechtensteiner Bibliotheken</li>
    <li>Bibliothèque de la Haute École de Musique de Lausanne</li>
    <li>Kantonsbibliothek Thurgau und kantonale Ämter</li>
    <li>Bibliotheken Schaffhausen</li>
    <li>E-Periodica</li>
    <li>e-codices – Bibliothèque virtuelle des manuscrits en Suisse</li>
    <li>ZORA - Zurich Open Repository and Archive</li>
    <li>BORIS -  Bern Open Repository and Information System</li>
    <li>SERVAL - Serveur Académique Lausannois</li>
    <li>edoc - Institutional Repository University of Basel</li>
    <li>ETH Research Collection</li>
    <li>Forschungsplattform Alexandria</li>
    <li>Licences Nationales</li>
    <li>Collections d'archives de la Bibliothèque nationale</li>
    <ul>
        <li>Catalogue collectif suisse des affiches</li>
        <li>Documents numérisés des Archives littéraires suisses</li>
        <li>Documents numérisés des Archives fédérales des monuments historiques</li>
    </ul>
    <li>HAN - Verbund Handschriften - Archive - Nachlässe</li>
</ul>

<h2>Conception et design</h2>
<p>
    Pour le développement et le design de notre site web, nous bénéficions du soutien de l'entreprise <a href="https://www.snowflake.ch/" target="_blank">snowflake (Zurich)</a>.
</p>

<h2>Technologie</h2>
<p>
    Swissbib utilise diverses composantes de logiciel afin de garantir la qualité élevée et la disponibilité du service :
</p>
<ul class="list">
    <li>traitement des données : <a href="http://www.oclc.org/de/de/cbs/default.htm" target="_blank">CBS - Metadata management solution</a> d'OCLC.</li>
    <li>moteur de recherche : <a href="http://lucene.apache.org/solr/" target="_blank">Apache Solr/Lucene</a> (Open Source)</li>
    <li>interface utilisateur : <a href="http://vufind-org.github.io/vufind/" target="_blank">vufind</a> (Open Source)</li>
    <li>autres composantes du service : <a href="https://github.com/swissbib" target="_blank">swissbib</a> (Open Source)</li>
</ul>
</p>

<h2>Projets partenaires et sous-projets</h2>
<p>
    Swissbib est conçu comme une plate-forme ouverte et met à disposition données, solutions logiciel et savoir-faire pour le développement
    de projets individuels. À des degrés différents, swissbib sert de base aux projets suivants :
</p>
<ul class="list">
    <li><a href="https://baselbern.swissbib.ch/">swissbib Basel Bern</a> - Catalogue régional du réseau IDS Basel Bern</li>
    <li><a href="https://jus.swissbib.ch/">jusbib</a> - Métacatalogue pour la littérature juridique spécialisée</li>
    <li><a href="http://www.kartenportal.ch/">Kartenportal.ch</a> - Portail d’accès aux cartes géographiques des bibliothèques et archives suisses</li>
    <li>linked.swissbib.ch – Mise à disposition des données des bibliothèques suisses sous forme de "linked open data"</li>
    <li><a href="<?= $this->transEsc('snl.url') ?>"><?= $this->transEsc('snl.nationalLicences') ?></a> -
        <?= $this->transEsc('snl.intro1') ?>
        <?= $this->transEsc('snl.nationalLicences') ?>
        <?= $this->transEsc('snl.intro2') ?>
    </li>
</ul>

<h2>Documentation, Organisation du Projet, Stratégie</h2>
<ul class="list">
    <li><a href="http://www.swissbib.org" target="_blank">Wiki du projet</a></li>
</ul>

<h2>Autres informations</h2>
<p>
    Les adresses suivantes vous offrent de plus amples informations concernant le projet ainsi que les possibilités de prendre contact avec nous :
</p>
<ul class="list">
    <li><a href="http://www.swissbib.blogspot.ch" target="_blank">Blog</a></li>
    <li><a title="<?= $this->transEsc('menu.feedback') ?>" href="" id="feedback"><?= $this->transEsc('menu.feedback') ?></a></li>
    <li><a href="&#109;&#97;&#x69;&#x6c;&#116;&#111;&#58;&#115;&#x77;&#105;&#x73;&#115;&#98;&#x69;&#98;&#45;&#117;&#x62;&#64;&#x75;&#x6e;&#x69;&#x62;&#97;&#x73;&#x2e;&#99;&#x68;"><?= $this->transEsc('Email') ?></a></li>
    <li><a href="http://www.ub.unibas.ch/ub-hauptbibliothek/wir-ueber-uns/adresse-kontakte" target="_blank">Adresse (Projet swissbib, Bibliothèque universitaire de Bâle)</a></li>
</ul>