<div class="home-content-box">
    <h2 class="lead">About swissbib Basel Bern</h2>

    <p>
        swissbib Basel Bern is the collective catalog of the academic libraries in Basel and Berne, including the Swiss national library.
    </p>
    <a href="<?= $this->url('help-page', ['topic' => 'about']); ?>" class="btn btn-link">More Info</a>
</div>