<div class="home-content-box">
    <h2 class="lead">Über swissbib Basel Bern</h2>
    <p>swissbib Basel Bern ist der gemeinsame Katalog der Hochschulbibliotheken in Basel und Bern und der Schweizerischen Nationalbibliothek.</p>
    <a href="<?= $this->url('help-page', ['topic' => 'about']); ?>" class="btn btn-link">Mehr Informationen</a>
</div>