<div id="nav_<?= $nr ?>" class="group">
  <h3><?= $group['label'][$this->layout()->userLang] ?></h3>

  <div class="institutions">
    <?php foreach ($institutions as $institution): ?>
      <?php if ($institution['is_favorite']): ?>
        <?=
        $this->render(
            'libraries/institution',
            [
                'institution' => $institution
            ]
        ) ?>
      <?php endif; ?>
    <?php endforeach; ?>
  </div>
</div>