<div class="institution" id="inst_<?= $institution['id'] ?>">
  <h4>
    <?= $institution['label'][$this->layout()->userLang] ?>
  </h4>
  <address>
    <?php if (!empty($institution['address'])): ?>
      <p><?= $institution['address'] ?></p>
    <?php endif; ?>
    <?php if (!empty($institution['city']) && !empty($institution['zip'])): ?>
      <?php $canton = !empty($institution['canton']) ? ' (' . strtoupper($institution['canton']) . ')' : ''; ?>
      <p><?= $institution['zip'] . ' ' . $institution['city'] . $canton ?></p>
    <?php endif; ?>
    <?php if (!empty($institution['email'])): ?>
      <p><a href="mailto:<?= $institution['email'] ?>"><?= $this->transEsc('Email') ?></a></p>
    <?php endif; ?>
    <p><b><?= $this->transEsc('library.code') ?>
        :</b> <?= $institution['bib_code'] ?><?= !empty($institution['isil']) ? '; <b>ISIL: </b>' . $institution['isil'] : '' ?>
    </p>
  </address>
  <div>
    <ul class="list">
      <?php if (!empty($institution['url']) && is_array($institution['url'])): ?>
        <?php $url = $institution['url'][$this->layout()->userLang]; ?>
        <li><a href="<?= $url ?>" class="color"
               target="_blank"><?= $this->transEsc('Library_Information') ?></a></li>
      <?php endif; ?>
      <?php if (!empty($institution['website'])): ?>
        <li><a href="<?= $institution['website'] ?>" class="color"
               target="_blank"><?= $this->transEsc('libraries.website') ?></a></li>
      <?php endif; ?>
      <li><a href='/Search/Results?type=AllFields&filter[]=institution%3A"<?= $institution['bib_code'] ?>"'
             class='color'><?= $this->transEsc('hold_backlink') ?></a></li>
    </ul>
  </div>
</div>