<?php if (isset($this->ranges) && !empty($this->ranges)): ?>
  <div class="row">
  <?php $params = $this->searchParams($this->searchClassId); $params->activateAllFacets(); ?>
  <?php foreach ($this->ranges as $current): $escField = $this->escapeHtmlAttr($current['field']); ?>
    <?php $extraInputAttribs = ($current['type'] == 'date') ? 'maxlength="4" ' : ''; ?>
    <div class="col-sm-12"><fieldset>
      <label class="ranges" for="<?=$escField?>from"><?=$this->transEsc($params->getFacetLabel($current['field']))?></label>
      <input type="hidden" name="<?=$this->escapeHtmlAttr($current['type'])?>range[]" value="<?=$escField?>"/>
      <div class="row">
        <?php if ($current['type'] == 'date'): ?>
          <?php
          $this->headScript()->appendFile('vendor/bootstrap-slider.min.js');
          $this->headLink()->appendStylesheet('vendor/bootstrap-slider.min.css');
          $min = !empty($current['values'][0]) ? min($current['values'][0], 300) : 300;
          $future = date('Y', time() + 31536000);
          $max = !empty($current['values'][1]) ? max($future, $current['values'][1]) : $future;
          $low = !empty($current['values'][0]) ? $current['values'][0] : $min;
          $high = !empty($current['values'][1]) ? $current['values'][1] : $max;
          $min = intval($min);
          $max = intval($max);
          $low = intval($low);
          $high = intval($high);
          $init = !empty($current['values'][0]) ? 'fillTexts()' : '';
          $script = <<<JS
$(document).ready(function() {
  var fillTexts = function() {
    var v = {$escField}dateSlider.getValue();
    $('#${escField}from').val(v[0]);
    $('#${escField}to').val(v[1]);
  };
  var {$escField}dateSlider = $('#{$escField}dateSlider')
    .slider({
       'min':{$min},
       'max':{$max},
       'handle':"square",
       'tooltip':"hide",
       'value':[{$low},{$high}]
    })
    .on('slide', fillTexts)
    .data('slider');
  {$init}
});
JS;
          ?>
          <?=$this->inlineScript(\Zend\View\Helper\HeadScript::SCRIPT, $script, 'SET'); ?>
        <?php endif; ?>
        <div class="col-xs-6">
          <label class="rangeSub" for="<?=$escField?>from"><?=$this->transEsc('date_from')?>:</label>
          <input type="text" name="<?=$escField?>from" id="<?=$escField?>from" value="<?=isset($current['values'][0])?$this->escapeHtmlAttr($current['values'][0]):''?>" class="form-control" <?=$extraInputAttribs?> placeholder="<?= $current['type'] == 'date' ? $min : '' ?>" />
        </div>
        <div class="col-xs-6">
          <label class="rangeSub" for="<?=$escField?>to"><?=$this->transEsc('date_to')?>:</label>
          <input type="text" name="<?=$escField?>to" id="<?=$escField?>to" value="<?=isset($current['values'][1])?$this->escapeHtmlAttr($current['values'][1]):''?>" class="form-control" <?=$extraInputAttribs?> placeholder="<?= $current['type'] == 'date' ? $max : '' ?>" />
        </div>
      </div>
      <?php if ($current['type'] == 'date'): ?>
        <div class="slider-container">
          <input type="text" id="<?=$escField?><?=$this->escapeHtmlAttr($current['type'])?>Slider">
        </div>
      </fieldset></div>
    <?php endif; ?>
  <?php endforeach; ?>
  </div>
<?php endif; ?>
