<?php
/** @var array $headers */
/** @var mixed $photoCopy */
/** @var Boolean $even */
?>

<table class="table table-flipped hidden-md hidden-lg <?= 'table-' . ($even ? 'even' : 'odd') ?>">
    <tbody>
    <tr>
        <th><?=$headers['title']?></th>
        <td>
            <?= $this->escapeHtml($photoCopy['title']) ?>
            <?php if (!empty($photoCopy['description'])): ?>
                , <?= $this->escapeHtml($photoCopy['description']) ?>
            <?php endif; ?>
        </td>
    </tr>
    <tr>
        <th><?=$headers['library_callno']?></th>
        <td>
            <?php if (!empty($photoCopy['library'])): ?>
                <?=$this->escapeHtml($photoCopy['library'])?>,
            <?php endif; ?>

            <?php if (!empty($photoCopy['callNumber'])): ?>
                <?=$this->escapeHtml($photoCopy['callNumber'])?>
            <?php endif; ?>
        </td>
    </tr>
    <tr>
        <th><?=$headers['pick_up_location']?></th>
        <td>
            <?=$this->transEsc($photoCopy['pickup']) ?>
        </td>
    </tr>
    <tr>
        <th><?=$headers['created']?></th>
        <td>
            <?=$this->escapeHtml($photoCopy['dateOpen']) ?>
        </td>
    </tr>
    <tr>
        <th><?=$headers['status']?></th>
        <td>
            <?=$this->transEsc($photoCopy['status']) ?>
        </td>
    </tr>
    <tr>
        <th><?=$headers['note']?></th>
        <td>
            <?php if (!empty($photoCopy['title2'])): ?>
                <?=$this->escapeHtml($photoCopy['title2'] . ' / ') ?>
            <?php endif; ?>
            <?php if (!empty($photoCopy['author'])): ?>
                <?=$this->escapeHtml($photoCopy['author'] . '. ') ?>
            <?php endif; ?>
            <?php if (!empty($photoCopy['note1'])): ?>
                <?=$this->escapeHtml($photoCopy['note1'] . ', ') ?>
            <?php endif; ?>
            <?php if (!empty($photoCopy['pages'])): ?>
                <?=$this->escapeHtml($photoCopy['pages']) . '. ' ?>
            <?php endif; ?>
            <?php if (!empty($photoCopy['note2'])): ?>
                <?=$this->escapeHtml($photoCopy['note2']) ?>
            <?php endif; ?>
        </td>
    </tr>
    </tbody>
</table>