<h1>FAQ</h1>
<p>Die FAQ geben Hilfestellungen zu den untenstehenden Themenbereichen in swissbib Basel Bern:</p>
<nav>
    <ul>
        <li><a href="#faq1">Benutzungskonto / My swissbib</a>
        <li><a href="#faq2">Suchtipps / Online-Zugriff</a></li>
        <li><a href="#faq3">Bestellen</a></li>
    </ul>
</nav>

<div class="panel-group" id="accordion">
<h2><a id="faq1"></a>Benutzungskonto / My swissbib</h2>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse1" aria-expanded="false">
                    Wie melde ich mich an?</a>
            </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse">
            <div class="panel-body"><p>Der Link zum <a href="<?= $this->url('myresearch-userlogin') ?>">Anmelden</a> befindet sich oben rechts im orangen Kopfbereich der Webseite. Nach dem Draufklicken geben Sie Ihre Benutzungsnummer und Ihr Passwort ein.</p></div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse36" aria-expanded="false">
                    Wieso kann ich mich nicht anmelden?</a>
            </h4>
        </div>
        <div id="collapse36" class="panel-collapse collapse">
            <div class="panel-body"><p>Mögliche Gründe sind:</p>
                <ul style="list-style-type:disc">
                    <li>Sie sind noch nicht registriert und haben folglich kein Benutzungskonto.</li>
                    <li>Sie haben kein aktuelles oder ein falsches Passwort verwendet.</li>
                </ul>
                <p>Trifft keiner dieser Gründe zu, nehmen Sie <a href="<?= $this->url('feedback-home') ?>">Kontakt</a> mit Ihrer Bibliothek auf.</p></div>
            </div>
        </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse2" aria-expanded="false">
                    Ich habe mein Passwort vergessen, was kann ich tun?</a>
            </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse">
            <div class="panel-body"><p>Nehmen Sie <a href="<?= $this->url('feedback-home') ?>">Kontakt</a> mit Ihrer Bibliothek auf.</p></div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse3" aria-expanded="false">
                    Was finde ich in meinem Benutzungskonto?</a>
            </h4>
        </div>
        <div id="collapse3" class="panel-collapse collapse">
            <div class="panel-body"><p>Ihr Benutzungskonto gibt Ihnen Auskunft über Ihre Ausleihen, Reservationen, Kopienbestellungen, Gebühren und Adressdaten. Zudem können Sie Ihre Bibliotheken, gespeicherten Suchen, Merklisten und Einstellungen verwalten.</p></div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse4" aria-expanded="false">
                    Wie verlängere ich meine ausgeliehenen Medien?</a>
            </h4>
        </div>
        <div id="collapse4" class="panel-collapse collapse">
            <div class="panel-body"><p>Wählen Sie in Ihrem Benutzungskonto <i>Ausleihen</i> an. Nun erscheint die Liste der von Ihnen ausgeliehenen Medien. Neben dem jeweiligen Medium befindet sich rechts ein Kästchen. Dieses klicken Sie bei den zu verlängernden Medien an und wählen anschliessend <i>Ausgewählte Ausleihen verlängern</i> an.</p></div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse35" aria-expanded="false">
                    Wieso kann ich meine Medien nicht verlängern?</a>
            </h4>
        </div>
        <div id="collapse35" class="panel-collapse collapse">
            <div class="panel-body"><p>Mögliche Gründe sind:</p>
                <ul style="list-style-type:disc">
                    <li>Sie haben die Medien bereits fünf Mal verlängert und müssen Sie zurückgeben. Wenn keine Reservation vorliegt, können Sie sie wieder neu ausleihen.</li>
                    <li>Die Medien wurden von anderen Personen reserviert, Sie müssen die Medien zurückbringen.</li>
                    <li>Für Fernleihen muss eine Verlängerung beantragt werden, diese kann nicht in allen Fällen garantiert werden. Wenden Sie sich an die Bibliothek, über die Sie das Medium bezogen haben. Für Medien, die Sie über die UB Bern bezogen haben, benutzen Sie das <a href="http://www.unibe.ch/universitaet/dienstleistungen/universitaetsbibliothek/service/ausleihe/fernleihe___kopienbestellung/verlaengerungsgesuch/formular/index_ger.html">Verlängerungsformular</a> auf der Website der UB Bern.</li>
                </ul>
                <p>Bei Fragen nehmen Sie <a href="<?= $this->url('feedback-home') ?>">Kontakt</a> mit Ihrer Bibliothek auf.</p>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse5" aria-expanded="false">
                    Wo kann ich meine Adresse und Telefonnummer ändern?</a>
            </h4>
        </div>
        <div id="collapse5" class="panel-collapse collapse">
            <div class="panel-body"><p>Wählen Sie in Ihrem Benutzungskonto <i>Adresse ändern</i> an. Geben Sie dort die zu ändernden Daten ein und klicken Sie auf <i>Speichern</i>.</p></div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse6" aria-expanded="false">
                    Wo kann ich mein Passwort ändern?</a>
            </h4>
        </div>
        <div id="collapse6" class="panel-collapse collapse">
            <div class="panel-body"><p>Wählen Sie in Ihrem Benutzungskonto <i>Passwort ändern</i> an und folgen Sie den Anweisungen.</p></div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse7" aria-expanded="false">
                    Ich habe noch keine Bibliothekskarte. Wo kann ich mich anmelden?</a>
            </h4>
        </div>
        <div id="collapse7" class="panel-collapse collapse">
            <div class="panel-body"><p>Sie können sich zuhause oder in einer der IDS-Bibliotheken in <a href="http://www.ub.unibas.ch/bibliotheksnetz/verbund-basel/bibliotheken-im-verbund/liste-der-bibliotheken/" target="_blank">Basel</a> oder <a href="http://www.unibe.ch/universitaet/dienstleistungen/universitaetsbibliothek/teilbibliotheken/berner_ids_bibliotheken/liste/index_ger.html" target="_blank">Bern</a> via <a href="http://aleph.unibas.ch/F/?func=bor-new-0" target="_blank">Web-Formular</a> einschreiben. Um Ihr Konto freizuschalten, weisen Sie in einer der IDS-Bibliotheken in <a href="http://www.ub.unibas.ch/bibliotheksnetz/verbund-basel/bibliotheken-im-verbund/liste-der-bibliotheken/" target="_blank">Basel</a> oder <a href="http://www.unibe.ch/universitaet/dienstleistungen/universitaetsbibliothek/teilbibliotheken/berner_ids_bibliotheken/liste/index_ger.html" target="_blank">Bern</a> einen amtlichen Ausweis vor.</p>
                <p>Wenn Sie einen <a href="https://www.nb.admin.ch/snl/de/home/dienstleistungen/benutzung-unserer-sammlungen/bibliopass.html" target="_blank">BibliOpass</a> besitzen, können Sie diesen zusammen mit dem amtlichen Ausweis vorweisen und Ihr Konto wird mit dem Bibliopass verknüpft.</p></div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse8" aria-expanded="false">
                    Gilt meine Bibliothekskarte auch für andere Bibliotheken?</a>
            </h4>
        </div>
        <div id="collapse8" class="panel-collapse collapse">
            <div class="panel-body"><p>Ja, Ihre Bibliothekskarte gilt für alle IDS- oder NEBIS-Bibliotheken:
                    IDS Basel Bern, IDS Luzern, NEBIS, IDS St. Gallen, St. Galler Bibliotheksnetz (SGBN) und Aargauer Bibliotheksnetz.</p></div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse9" aria-expanded="false">
                    Ich bin StudentIn der Universität Basel, der Universität Bern oder der Pädagogischen Hochschule Bern. Brauche ich eine Bibliothekskarte um Medien auszuleihen?</a>
            </h4>
        </div>
        <div id="collapse9" class="panel-collapse collapse">
            <div class="panel-body"><p>Nein, die Studierendenausweise gelten auch als Bibliothekskarten. Ihre Benutzungsnummer entspricht der Matrikelnummer (ohne Bindestriche) auf der Ausweisrückseite.</p></div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse10" aria-expanded="false">
                    Ich bin MitarbeiterIn der Universität Basel oder Bern. Brauche ich eine Bibliothekskarte um Medien auszuleihen?</a>
            </h4>
        </div>
        <div id="collapse10" class="panel-collapse collapse">
            <div class="panel-body"><p>Nein, die Mitarbeitendenausweise gelten auch als Bibliothekskarten. Ihre Benutzungsnummer entspricht der sechsstelligen Personennummer mit dem Präfix MBS01 in Basel und BEM in Bern.</p>
                <p>Mitarbeitende der Universität Bern müssen sich für die Freischaltung in einer <a href="http://www.unibe.ch/universitaet/dienstleistungen/universitaetsbibliothek/teilbibliotheken/berner_ids_bibliotheken/liste/index_ger.html" target="_blank">Berner IDS-Bibliothek</a> melden.</p></div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse11" aria-expanded="false">
                    Ich habe meine Bibliothekskarte verloren, was kann ich tun?</a>
            </h4>
        </div>
        <div id="collapse11" class="panel-collapse collapse">
            <div class="panel-body"><p>Unter Vorweisung eines amtlichen Ausweises können Sie in einer der IDS-Bibliotheken in <a href="http://www.ub.unibas.ch/bibliotheksnetz/verbund-basel/bibliotheken-im-verbund/liste-der-bibliotheken/" target="_blank">Basel</a> oder <a href="http://www.unibe.ch/universitaet/dienstleistungen/universitaetsbibliothek/teilbibliotheken/berner_ids_bibliotheken/liste/index_ger.html') ?>" target="_blank">Bern</a> eine Ersatzkarte erwerben.</p></div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse12" aria-expanded="false">
                    Was bedeutet <i>Meine Bibliotheken</i> <i class="fa fa-heart"></i> ?</a>
            </h4>
        </div>
        <div id="collapse12" class="panel-collapse collapse">
            <div class="panel-body"><p>Um Ihnen den Zugriff auf den Bestand der von Ihnen häufig genutzten Bibliotheken zu vereinfachen, gibt es die Funktion <i>Meine Bibliotheken</i>.</p>
                <p>Wenn Sie angemeldet sind und eine Suchanfrage eingeben, erscheinen bei der Option <i>Suche verfeinern</i> zuoberst die von Ihnen als <i>Meine Bibliotheken</i> gewählten Bibliotheken. Nun können Sie jeweils im Bestand einer dieser Bibliotheken suchen. In der Trefferliste erkennen Sie am gefüllten Herz-Symbol <i class="fa fa-heart"></i>, ob der Titel in einer Ihrer Bibliotheken vorhanden ist.</p>
                Um eine Bibliothek zu <i>Meine Bibliotheken</i> hinzuzufügen, melden Sie sich in Ihrem Benutzungskonto an. Unter <i>My swissbib</i> sehen Sie die Option <i>Meine Bibliotheken</i>. Geben Sie im Feld die gewünschte Bibliothek ein.</p></div>
        </div>
    </div>


<h2><a id="faq2"></a>Suchtipps / Online-Zugriff</h2>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse13" aria-expanded="false">
                    Was ist der Unterschied zwischen <i>Bücher & mehr</i> und <i>Artikel & mehr</i> ?</a>
            </h4>
        </div>
        <div id="collapse13" class="panel-collapse collapse">
            <div class="panel-body"><p>Unter <i>Bücher & mehr</i> finden Sie in erster Linie Bücher, E-Books, Zeitschriften, E-Journals, Datenbanken, CDs und DVDs. Verzeichnet sind nur die Titel dieser Medien und nicht einzelne Artikel oder Kapitel.</p>
                <p>Unter <i>Artikel & mehr</i> finden Sie hingegen einzelne Artikel oder Kapitel aus diversen E-Journals, E-Books und Datenbanken. Mehr zur Suche in <i>Artikel & mehr</i> finden Sie in unserem <a href="https://tube.switch.ch/videos/0542438f" target="_blank">Video</a>.</p></div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse14" aria-expanded="false">
                    Wie suche ich Medien zu einem bestimmten Thema?</a>
            </h4>
        </div>
        <div id="collapse14" class="panel-collapse collapse">
            <div class="panel-body"><p>Geben Sie den Titel des gewünschten Mediums oder themenbezogene Begriffe im Suchfeld ein. Um die Treffermenge zu verkleinern, benutzen Sie die Filter unter der Option <i>Suche verfeinern</i> auf der rechten Seite. Eine Schritt für Schritt-Anleitung finden Sie im <a href="https://tube.switch.ch/embed/d8d59fc8" target="_blank">Video</a>.</p></div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse15" aria-expanded="false">
                    Wie grenze ich die Suchergebnisse ein?</a>
            </h4>
        </div>
        <div id="collapse15" class="panel-collapse collapse">
            <div class="panel-body"><p>Rechts neben den Suchergebnissen finden Sie unter der Option <i>Suche verfeinern</i> verschiedene Filter, mit denen Sie die Suchergebnisse eingrenzen können. Sie können sich zum Beispiel nur französische Medien anzeigen lassen, indem Sie beim Filter <i>Sprache</i> Französisch auswählen.</p></div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse16" aria-expanded="false">
                    Wie grenze ich meine Suche auf den Bestand einer bestimmten Bibliothek ein?</a>
            </h4>
        </div>
        <div id="collapse16" class="panel-collapse collapse">
            <div class="panel-body"><p>Wählen Sie bei der Option <i>Suche verfeinern</i> unter <i>Bibliothek</i> die gewünschte Bibliothek aus oder fügen Sie in <i>My swissbib</i> die gewünschte Bibliothek zu <i>Meine Bibliotheken</i> hinzu.</p></div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse17" aria-expanded="false">
                    Wie greife ich auf elektronische Medien zu?</a>
            </h4>
        </div>
        <div id="collapse17" class="panel-collapse collapse">
            <div class="panel-body"><p>Schränken Sie Ihre Suchergebnisse in <i>Bücher & mehr</i> ein, indem Sie mit der Option <i>Suche verfeinern</i> unter <i>Online verfügbar</i> Ihren aktuellen Bibliotheksstandort auswählen. Ist das Netz Ihrer Bibliothek nicht aufgeführt, sind an Ihrem Standort keine E-Medien zu diesem Thema lizenziert.</p>
                <p>Für frei verfügbare E-Medien schränken Sie die Suchergebnisse unter der Option <i>Suche verfeinern</i> mit dem Filter <i>Freier Zugang - Online</i> ein.</p>
                <p>In <i>Artikel & mehr</i> haben Sie zwei Möglichkeiten für den Zugriff auf E-Medien:</p>
                <ul style="list-style-type:disc">
                    <li>Mit <i>get it</i> erhalten Sie direkten Zugang zum Volltext/PDF.</li>
                    <li>Das Hilfsprogramm <i>SFX Services</i> führt Sie über das SFX-Menü zum Volltext/PDF oder zu Bestellmöglichkeiten.</li>
                </ul></div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse34" aria-expanded="false">
                    Warum funktioniert der Link zum Volltext/PDF nicht?</a>
            </h4>
        </div>
        <div id="collapse34" class="panel-collapse collapse">
            <div class="panel-body"><p>Mögliche Gründe sind:</p>
                <ul style="list-style-type:disc">
                    <li>Sie befinden sich nicht im Netz der Bibliothek, die die Lizenzrechte für dieses Medium erworben hat.</li>
                    <li>Sie haben als Angehörige Ihrer Universität den <i>VPN-Client</i> (<a href="https://mobile.unibas.ch/home.html" target="_blank">Basel</a>, <a href="http://www.unibe.ch/universitaet/campus__und__infrastruktur/rund_um_computer/internetzugang/zugang_auf_interne_ressourcen_mit_vpn/index_ger.html" target="_blank">Bern</a>) nicht aktiviert.</li>
                    <li>Als Nichtuniversitätsangehörige haben Sie ausserhalb der Bibliothek nur auf die frei zugänglichen Inhalte Zugriff. Diese können Sie in der rechten Spalte unter <i>Suche verfeinern</i> mit dem Filter <i>Freier Zugang - Online</i> anzeigen lassen.</li>
                </ul>
            </div>
        </div>
    </div>
<div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse37" aria-expanded="false">
                    Was, wenn ich in «Bücher & mehr» auf einen Artikel stosse, den ich nicht direkt herunterladen kann?</a>
            </h4>
        </div>
        <div id="collapse37" class="panel-collapse collapse">
            <div class="panel-body"><p>Konsultieren Sie dafür <a href="http://swissbib-baselbern.blogspot.com/2018/05/was-wenn-ich-in-bucher-mehr-auf-einen.html" target="_blank">diesen Blogpost</a>.</p>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse18" aria-expanded="false">
                    Was bedeutet <i>erweiterte Suche</i> ?</a>
            </h4>
        </div>
        <div id="collapse18" class="panel-collapse collapse">
            <div class="panel-body"><p>Mit der erweiterten Suche können Sie verschiedene Suchangaben wie zum Beispiel Titel, Verfasser oder Themenbereiche in einer Suchanfrage kombinieren.</p>
                <p>Für komplexere Suchanfragen konsultieren Sie unsere <a href="<?= $this->url('help-page', ['topic' => 'search']); ?>"><?= $this->transEsc('Profitipps') ?></a></p></div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse19" aria-expanded="false">
                    Gibt es noch weitere Suchtipps, die mir bei der Recherche helfen?</a>
            </h4>
        </div>
        <div id="collapse19" class="panel-collapse collapse">
            <div class="panel-body"><p>Ja, sehen Sie sich dazu unsere <a href="<?= $this->url('help-page', ['topic' => 'search']); ?>"><?= $this->transEsc('Profitipps') ?></a> an.</p></div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse20" aria-expanded="false">
                    Kann ich meine Suchanfragen oder bestimmte Suchergebnisse speichern?</a>
            </h4>
        </div>
        <div id="collapse20" class="panel-collapse collapse">
            <div class="panel-body"><p>Ja, klicken Sie in der Trefferliste auf das Symbol <i class="fa fa-plus-square"></i> um eine Suchanfrage zu speichern. Gespeicherte Suchanfragen können Sie in <i>My swissbib</i> unter <i>Gespeicherte Suchen</i> aufrufen.</p>
                <p>Um einzelne Titel zu speichern, können Sie in <i>My swissbib</i> eine Merkliste erstellen, beim jeweiligen Treffer das Symbol <i class="fa fa-list-ul"></i> anklicken und die gewünschte Merkliste auswählen. Sie können die Listen jederzeit bearbeiten, Treffer hinzufügen oder löschen.</p></div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse21" aria-expanded="false">
                    Kann ich für bestimmte Suchanfragen eine Nachricht erhalten, sobald neue Medien zu diesem Thema im Katalog vorhanden sind?</a>
            </h4>
        </div>
        <div id="collapse21" class="panel-collapse collapse">
            <div class="panel-body"><p>Ja, klicken Sie in der Trefferliste auf das Symbol <i class="fa fa-rss"></i> . Nun können Sie die Anfrage als Lesezeichen speichern und werden benachrichtigt, sobald neue Medien, die den Suchanfragen entsprechen, im Katalog erscheinen. Dies eignet sich besonders für sehr spezifische Suchanfragen.</p></div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse22" aria-expanded="false">
                    Kann ich die Sucheinstellungen festlegen, damit ich sie nicht immer wieder von neuem definieren muss?</a>
            </h4>
        </div>
        <div id="collapse22" class="panel-collapse collapse">
            <div class="panel-body"><p>Ja, unter <i>My swissbib</i> finden sie die Option <i>Einstellungen</i>. Dort können Sie die Trefferanzahl pro Seite, die Sprache und die Sortierangabe nach Ihren Wünschen festlegen. Ihre persönlichen Einstellungen sind nur wirksam, wenn Sie angemeldet sind.</p></div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse23" aria-expanded="false">
                    Wie kann ich Suchresultate in Literaturverwaltungsprogramme exportieren?</a>
            </h4>
        </div>
        <div id="collapse23" class="panel-collapse collapse">
            <div class="panel-body"><p>Klicken Sie entweder in der Trefferliste oder beim einzelnen Titel auf das Export-Symbol <i class="fa fa-share"></i> .</p></div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse24" aria-expanded="false">
                    Wie kann ich Suchergebnisse per E-Mail verschicken?</a>
            </h4>
        </div>
        <div id="collapse24" class="panel-collapse collapse">
            <div class="panel-body"><p>Klicken Sie entweder in der Trefferliste oder beim einzelnen Titel auf das E-Mail-Symbol <i class="fa fa-envelope"></i> .</p></div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse25" aria-expanded="false">
                    Kann ich einen Titel als Zitat anzeigen lassen?</a>
            </h4>
        </div>
        <div id="collapse25" class="panel-collapse collapse">
            <div class="panel-body"><p>Ja, klicken Sie auf das Zitier-Symbol <i class="fa fa-pencil"></i>. Nun werden Ihnen die Bibliographie-Angaben des ausgewählten Mediums in zwei verschiedenen Zitierstilen angezeigt.</p></div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse26" aria-expanded="false">
                    Ich habe in swissbib Basel Bern das Gesuchte nicht gefunden, was kann ich tun?</a>
            </h4>
        </div>
        <div id="collapse26" class="panel-collapse collapse">
            <div class="panel-body"><p>Sie können in weiteren Katalogen suchen:</p>
                <ul style="list-style-type:disc">
                    <li><a href="https://www.swissbib.ch/" target="_blank">swissbib CH</a>: Bibliothekbestände schweizweit</li>
                    <li><a href="http://aleph.unibas.ch/F?con_lng=GER&func=find-b-0" target="_blank">Katalog IDS Basel Bern</a>: Für die Suche nach Spezialbeständen (historisches Material, Musikalien) empfohlen</li>
                    <li><a href="http://aleph.unibas.ch/F/?func=option-update-lng&file_name=find-b&p_con_lng=GER&local_base=dsv05" target="_blank">Verbundkatalog HAN</a>: Verzeichnis für Handschriften, Archive und Nachlässe (Appenzell Ausserrhoden, Basel, Bern, Luzern, Solothurn und St.Gallen)</li>
                    <li><a href="http://www.worldcat.org/" target="_blank">World Cat</a>: Bibliothekbestände weltweit</li>
                </ul>
                <p>Sie können ein Fernleihformular (<a href="http://www.ub.unibas.ch/ub-hauptbibliothek/dienstleistungen/ausleihe/kurier-und-fernleihe/fernleihformular/" target="_blank">Basel</a>, <a href="http://www.unibe.ch/universitaet/dienstleistungen/universitaetsbibliothek/service/ausleihe/fernleihe___document_delivery/index_ger.html" target="_blank">Bern</a>) ausfüllen, anschliessend kümmert sich Ihre Bibliothek um die Suche. Die Bestellung des Mediums ist kostenpflichtig.</p>
                <p>Sie können ein Medium zur Anschaffung vorschlagen. Füllen Sie dazu das Anschaffungsformular (<a href="http://www.ub.unibas.ch/ub-hauptbibliothek/dienstleistungen/ausleihe/anschaffungsvorschlag/" target="_blank">Basel</a>, <a href="http://www.unibe.ch/universitaet/dienstleistungen/universitaetsbibliothek/service/ausleihe/anschaffungsvorschlaege/index_ger.html" target="_blank">Bern</a>) aus und schicken Sie es Ihrer Bibliothek.</p></div>
        </div>
    </div>

<h2><a id="faq3"></a>Bestellen</h2>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse27" aria-expanded="false">
                    Wie bestelle ich ein Medium?</a>
            </h4>
        </div>
        <div id="collapse27" class="panel-collapse collapse">
            <div class="panel-body">
                <p><ol type="1">
                    <li>In <i>Bücher & mehr</i> klicken Sie auf den Titel des Mediums, das Sie bestellen möchten.</li>
                    <li>Wählen Sie beim gewünschten Medium unter <i>Standorte & bestellen</i> eine Bibliothek aus.</li>
                    <li>Falls Sie noch nicht angemeldet sind, klicken Sie unter dem Bibliotheksnamen auf <i>Anmelden</i>.</li>
                    <li>Wählen Sie nun <i>Bestellen</i> an. Wenn diese Option nicht angezeigt wird, kann das Medium nicht elektronisch bestellt werden. In diesem Fall klicken Sie auf das Informations-Symbol <i class="fa fa-info-circle"></i> unterhalb des Standorts. So erfahren Sie Adresse und Öffnungszeiten der Bibliothek.</li>
                    <li>Die verschiedenen Bibliotheken bieten unterschiedliche Abhol- und Liefermöglichkeiten an. Details finden Sie auf der Webseite der jeweiligen <a href="<?= $this->basePath('Libraries') ?>" title="Liste der Institutionen">Bibliothek</a>.</li>
                </ol></p>
                <p>Eine ausführliche Anleitung finden Sie im <a href="https://tube.switch.ch/videos/d2f4ff5e" target="_blank">Video</a>.</p></div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse28" aria-expanded="false">
                    Wie reserviere ich ein bereits ausgeliehenes Medium?</a>
            </h4>
        </div>
        <div id="collapse28" class="panel-collapse collapse">
            <div class="panel-body">
                <p><ol type="1">
                    <li>Wählen Sie beim gewünschten Medium unter <i>Standorte & bestellen</i> eine Bibliothek aus.</li>
                    <li>Falls Sie noch nicht angemeldet sind, klicken Sie unter dem Bibliotheksnamen auf <i>Anmelden</i>.</li>
                    <li>Klicken Sie nun auf <i>Reservieren</i>. Wenn diese Option nicht angezeigt wird, kann das Medium nicht elektronisch reserviert werden.</li>
                    <li>Die verschiedenen Bibliotheken bieten unterschiedliche Abhol- und Liefermöglichkeiten an. Details finden Sie auf der Webseite der jeweiligen <a href="<?= $this->basePath('Libraries') ?>" title="Liste der Institutionen">Bibliothek</a>.</li>
                </ol></p>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse29" aria-expanded="false">
                    Kann ich ein Medium aus einer Bibliothek an eine andere Bibliothek senden lassen?</a>
            </h4>
        </div>
        <div id="collapse29" class="panel-collapse collapse">
            <div class="panel-body"><p>Ja, sofern die beiden Bibliotheken an einem gemeinsamen Kuriersystem angebunden sind:</p>
                <ul style="list-style-type:disc">
                    <li>Der ortsinterne Kurierdienst in <a href="http://www.ub.unibas.ch/ub-hauptbibliothek/dienstleistungen/ausleihe/kurier-und-fernleihe/" target="_blank">Basel</a> ist gratis, die Lieferfrist beträgt einen Arbeitstag.</li>
                    <li>Der ortsinterne Kurierdienst in <a href="http://www.unibe.ch/universitaet/dienstleistungen/universitaetsbibliothek/service/ausleihe/kurier/index_ger.html" target="_blank">Bern</a> ist gratis, die Lieferfristen entnehmen Sie unserer <a href="http://www.unibe.ch/universitaet/dienstleistungen/universitaetsbibliothek/service/ausleihe/kurier/lieferfristen_berner_kurier/index_ger.html" target="_blank">Webseite</a>.</li>
                    <li>Der <a href="<?= $this->url('help-page', ['topic' => 'delivery']); ?>"><?= $this->transEsc('IDS-Kurierdienst') ?></a> verkehrt zwischen Aarau, Basel, Bern, Luzern, St.Gallen und Zürich. Die Kurierbestellung kostet 5 CHF, welche Sie beim Abholen bar bezahlen müssen. Die Lieferfrist beträgt zwei Arbeitstage. Wenn Sie Medien aus Luzern, St.Gallen oder Zürich ausleihen möchten, bestellen Sie diese über den Katalog <a href="https://www.swissbib.ch/" target="_blank">swissbib CH</a>. Eine Anleitung dazu finden Sie in unserem <a href="http://swissbib-baselbern.blogspot.ch/2016/06/uber-swissbibch-medien-bestellen.html" target="_blank">Blogbeitrag</a>.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse30" aria-expanded="false">
                    Kann ich mir Medien per Post nach Hause senden lassen?</a>
            </h4>
        </div>
        <div id="collapse30" class="panel-collapse collapse">
            <div class="panel-body"><p>Einige Bibliotheken senden Medien an Ihre Postadresse.</p>
                <ol type="1">
                    <li>Wählen Sie beim gewünschten Medium unter <i>Standorte & bestellen</i> eine Bibliothek aus.</li>
                    <li>Falls Sie noch nicht angemeldet sind, klicken Sie unter dem Bibliotheksnamen auf <i>Anmelden</i>.</li>
                    <li>Wählen Sie nun <i>Bestellen</i> an. Wenn diese Option nicht angezeigt wird, kann das Medium nicht elektronisch bestellt werden. In diesem Fall klicken Sie auf das Informations-Symbol <i class="fa fa-info-circle"></i> unterhalb des Standorts. So erfahren Sie Adresse und Öffnungszeiten der Bibliothek.</li>
                    <li>Unter <i>Abholort / Lieferadresse</i> wählen Sie <i>Postversand</i> aus und klicken auf <i>Bestellen</i>. Wenn <i>Postversand</i> nicht zur Auswahl steht, können Sie das Medium nicht zu sich nach Hause bestellen.</li>
                </ol>
                <p>Die Kosten für diese Dienstleistung betragen 12 CHF pro Medium.</p></div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse31" aria-expanded="false">
                    Kann ich ein bestelltes Medium in einer anderen Bibliothek zurückgeben?</a>
            </h4>
        </div>
        <div id="collapse31" class="panel-collapse collapse">
            <div class="panel-body"><p>Ja, sofern die beiden Bibliotheken an einem gemeinsamen Kuriersystem angebunden sind: <a href="http://www.ub.unibas.ch/ub-hauptbibliothek/dienstleistungen/ausleihe/kurier-und-fernleihe/" target="_blank">Basel</a>, <a href="http://www.unibe.ch/universitaet/dienstleistungen/universitaetsbibliothek/service/ausleihe/kurier/index_ger.html" target="_blank">Bern</a>, <a href="<?= $this->url('help-page', ['topic' => 'delivery']); ?>"><?= $this->transEsc('IDS-Kurier') ?></a></p>
                <p>Die Rückgabe der Medien ist kostenlos.</p>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse32" aria-expanded="false">
                    Wie bestelle ich eine Kopie?</a>
            </h4>
        </div>
        <div id="collapse32" class="panel-collapse collapse">
            <div class="panel-body">
                <p><ol type="1">
                    <li>In <i>Bücher & mehr</i> klicken Sie auf den Titel des Mediums, aus dem Sie Auszüge bestellen möchten.</li>
                    <li>Wählen Sie beim gewünschten Buch unter <i>Standorte & bestellen</i> eine Bibliothek aus.</li>
                    <li>Falls sie noch nicht angemeldet sind, klicken Sie unter dem Bibliotheksnamen auf <i>Anmelden</i>.</li>
                    <li>Wählen Sie nun <i>Kopie bestellen</i> an. Wenn diese Option nicht angezeigt wird, kann elektronisch keine Kopie bestellt werden. In diesem Fall klicken Sie auf das Informations-Symbol <i class="fa fa-info-circle"></i> unterhalb des Standorts. So erfahren Sie Adresse und Öffnungszeiten der Bibliothek.</li>
                    <li>Wählen Sie die Versandart (Postversand oder per E-Mail) aus und geben Sie Verfasser/Beitragende, Titel, Seitenzahl, Jahrgang/Bandnummer in den entsprechenden Feldern ein.</li>
                </ol></p>
                <p>Pro 20 Seiten betragen die Kosten für Privatkunden 5 CHF, für Firmenkunden 25 CHF. Die Kosten werden vom IDS Basel Bern in Rechnung gestellt. Die Bestellungen werden von Montag bis Freitag innerhalb von 24 Stunden bearbeitet.</p></div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse33" aria-expanded="false">
                    Wieviel kostet das Versenden von Medien und Kopien und wie sind die Lieferfristen?</a>
            </h4>
        </div>
        <div id="collapse33" class="panel-collapse collapse">
            <div class="panel-body"><p>Die Kosten und Lieferfristen sind nicht bei allen Kurierdiensten dieselben:</p>
                <ul style="list-style-type:disc">
                    <li>Der ortsinterne Kurierdienst in <a href="http://www.ub.unibas.ch/ub-hauptbibliothek/dienstleistungen/ausleihe/kurier-und-fernleihe/" target="_blank">Basel</a> ist gratis, die Lieferfrist beträgt einen Arbeitstag.</li>
                    <li>Der ortsinterne Kurierdienst in <a href="http://www.unibe.ch/universitaet/dienstleistungen/universitaetsbibliothek/service/ausleihe/kurier/index_ger.html" target="_blank">Bern</a> ist gratis, die Lieferfristen entnehmen Sie unserer <a href="http://www.unibe.ch/universitaet/dienstleistungen/universitaetsbibliothek/service/ausleihe/kurier/lieferfristen_berner_kurier/index_ger.html" target="_blank">Webseite</a>.</li>                   
                    <li>Der <a href="<?= $this->url('help-page', ['topic' => 'delivery']); ?>"><?= $this->transEsc('IDS-Kurierdienst') ?></a> verkehrt zwischen Basel, Bern, Luzern, St.Gallen und Zürich. Die Kurierbestellung kostet 5 CHF, welche Sie beim Abholen bar bezahlen müssen. Die Lieferfrist beträgt zwei Arbeitstage.</li>
                    <li>Der Postversand an Ihre Heimadresse kostet 12 CHF pro Medium. Die Bearbeitung und der Versand erfolgen von Montag bis Freitag innerhalb von 24 Stunden.</li>
                    <li>Bei Kopienbestellungen betragen die Kosten pro 20 Seiten für Privatkunden 5 CHF, für Firmenkunden 25 CHF. Die Kosten werden vom IDS Basel Bern in Rechnung gestellt. Die Bestellungen werden von Montag bis Freitag innerhalb von 24 Stunden bearbeitet.</li>
                </ul>
                <p>Die oben genannten Gebühren gelten nur für die Bibliotheken der Universitäten Basel und Bern. Die Gebühren der anderen <a href="<?= $this->basePath('Libraries') ?>" title="Liste der Institutionen">Bibliotheken</a> erfahren Sie auf deren Webseite.</p></div>
        </div>
    </div>
        <div>
            <h2>Sie haben für Ihre Frage keine Antwort gefunden?</h2>
            <p>Gerne unterstützen wir Sie bei der Recherche und beim Bestellen in unserem Katalog oder nehmen Ihre Anregungen und Kritik entgegen: <a href="<?= $this->url('feedback-home') ?>">Kontakt</a></p>
        </div>
    </div>
