<h1>Benutzerkonto / My swissbib</h1>
<p>Ihr Benutzerkonto (<a href="<?= $this->url('myresearch-checkedout') ?>">My swissbib</a>) informiert Sie über Ihre Ausleihen, Bestellungen sowie Erinnerungen/Gebühren. Über das Konto können Sie ausgeliehene Medien verlängern sowie Ihre persönlichen <a href="<?= $this->url('myresearch-changeaddress'); ?>"> Daten</a> und <a href="<?= $this->url('myresearch-settings'); ?>"><?= $this->transEsc('My_Search_Settings') ?></a> ändern.</p>
<h2>Noch kein Konto?</h2>
<p><a href="http://aleph.unibas.ch/F/?func=bor-new-0" target="_blank"><?= $this->transEsc('Create New Account') ?></a> (oder vor Ort in einer der IDS-Bibliotheken in <a href="http://www.ub.unibas.ch/bibliotheksnetz/verbund-basel/bibliotheken-im-verbund/liste-der-bibliotheken" target="_blank">Basel</a> oder <a href="http://unibe.ch/universitaet/dienstleistungen/universitaetsbibliothek/teilbibliotheken/berner_ids_bibliotheken/liste/index_ger.html" target="_blank">Bern</a>)</p>
<p>Benutzerausweise einer anderen <a href="http://www.informationsverbund.ch/21.0.html" target="_blank" title="IDS-Bibliothek">IDS-Bibliothek</a> sind auch für swissbib Basel Bern <a href="http://www.informationsverbund.ch/6.0.html" target="_blank">gültig</a>, insbesondere ist eine Anmeldung mit den Studierenden- und Mitarbeitendenausweisen der Universitäten Basel und Bern möglich.</p>
<h2>Passwort vergessen</h2>
<p>Kontaktieren Sie bitte:</p>
<ul>
    <li>Region Basel: <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#105;&#110;&#102;&#111;&#45;&#117;&#98;&#64;&#117;&#110;&#105;&#98;&#97;&#115;&#46;&#99;&#104;">&#105;&#110;&#102;&#111;&#45;&#117;&#98;&#64;&#117;&#110;&#105;&#98;&#97;&#115;&#46;&#99;&#104;</a></li>
    <li>Region Bern: <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#105;&#110;&#102;&#111;&#64;&#117;&#98;&#46;&#117;&#110;&#105;&#98;&#101;&#46;&#99;&#104;">&#105;&#110;&#102;&#111;&#64;&#117;&#98;&#46;&#117;&#110;&#105;&#98;&#101;&#46;&#99;&#104;</a></li>
</ul>
<h2>Benutzerausweis verloren</h2>
<p>Bitte kommen Sie bei einer der IDS-Bibliotheken vorbei: <a href="http://www.ub.unibas.ch/bibliotheksnetz/verbund-basel/bibliotheken-im-verbund/liste-der-bibliotheken" target="_blank">Region Basel</a>, <a href="http://unibe.ch/universitaet/dienstleistungen/universitaetsbibliothek/teilbibliotheken/berner_ids_bibliotheken/liste/index_ger.html" target="_blank">Region Bern</a>. Ein Ersatz ist kostenpflichtig und wir benötigen dazu einen amtlichen Ausweis.</p>
<h1>Persönliche Einstellungen</h1>
<h2>Gespeicherte Suchen</h2>
<p>Wenn Sie nicht angemeldet sind, werden Ihre Suchen gespeichert, bis Sie den Browser schliessen. Wenn Sie sich anmelden, können Sie Ihre Suchanfragen längerfristig speichern, um sie bei Bedarf zu wiederholen.</p>
<h2>Einstellungen</h2>
<p>Sie können die Sprache der Suchoberfläche, die angezeigte Anzahl Treffer pro Seite sowie das Sortierungskriterium für die Trefferliste nach Ihren Vorlieben einstellen. Die Einstellungen sind nur wirksam, wenn Sie angemeldet sind.</p>
<h2>Meine Bibliotheken</h2>
<p>Um eine Bibliothek unter Meine Bibliotheken zu speichern, benutzen Sie entweder die Suche unter <a href="<?=$this->url('myresearch-favorite-institutions')?>"><?=$this->transEsc('mylibraries')?></a> oder klicken Sie in einer Titelanzeige bei der entsprechenden Bibliothek auf <i class="fa fa-heart-o"></i>. In der Liste der Suchergebnisse sind Ihre gewählten Bibliotheken mit <i class="fa fa-heart"></i> markiert. Wenn Sie angemeldet sind können Sie die Suchergebnisse nach Vorhandensein in Ihren Bibliotheken filtern.</p>
<h2>Merklisten</h2>
<p>Wenn Sie sich anmelden, können Sie Titel auf Merklisten speichern, indem Sie auf <i class="fa fa-list-ul"></i> klicken.</p>