<div class="home-content-box">
    <h2 class="lead">Öffnungszeiten der grossen Bibliotheken über die Feiertage</h2>
    <p>Wir wünschen Ihnen schöne Feiertage und einen guten Rutsch ins neue Jahr!</p>

    <a href="http://swissbib-baselbern.blogspot.ch/search/label/Tipp" target="_blank" class="btn btn-link">Mehr Informationen im Blog</a>
</div>
