<h1>Fees / delivery times</h1>
<p>Items from libraries offering a delivery service can be sent to any other library offering the same service for pickup or return:</p>
<ul>
    <li><a href="https://www.ag.ch/de/bks/kultur/archiv_bibliothek/kantonsbibliothek/kantonsbibliothek.jsp" target="_blank">Aarau, Aargauer Kantonsbibliothek</a></li>
    <li><a href="http://www.ub.unibas.ch/bibliotheksnetz/verbund-basel/bibliotheken-im-verbund/liste-der-bibliotheken/a100/?S=1" target="_blank">Basel UB Hauptbibliothek</a></li>
    <li><a href="http://www.ub.unibas.ch/bibliotheksnetz/verbund-basel/bibliotheken-im-verbund/liste-der-bibliotheken/a140/?S=1" target="_blank">Basel UB Medizin</a> (delivery to Bern only)</li>
    <li><a href="http://www.ub.unibas.ch/bibliotheksnetz/verbund-basel/bibliotheken-im-verbund/liste-der-bibliotheken/a125/?S=1" target="_blank">Basel UB Wirtschaft - SWA</a></li>
    <li><a href="http://unibe.ch/universitaet/dienstleistungen/universitaetsbibliothek/teilbibliotheken/berner_ids_bibliotheken/b404/index_ger.html" target="_blank">Bern UB Bibliothek Münstergasse</a></li>
    <li><a href="http://unibe.ch/universitaet/dienstleistungen/universitaetsbibliothek/teilbibliotheken/berner_ids_bibliotheken/b410/index_ger.html" target="_blank">Bern UB Basisbibliothek Unitobler</a></li>
    <li><a href="http://unibe.ch/universitaet/dienstleistungen/universitaetsbibliothek/teilbibliotheken/berner_ids_bibliotheken/b500/index_ger.html" target="_blank">Bern UB Bibliothek vonRoll</a></li>
    <li><a href="http://unibe.ch/universitaet/dienstleistungen/universitaetsbibliothek/teilbibliotheken/berner_ids_bibliotheken/b452/index_ger.html" target="_blank">Bern UB Fachbereichsbibliothek Bühlplatz</a></li>
    <li><a href="http://unibe.ch/universitaet/dienstleistungen/universitaetsbibliothek/teilbibliotheken/berner_ids_bibliotheken/b465/index_ger.html" target="_blank">Bern UB Juristische Bibliothek</a></li>
    <li><a href="http://unibe.ch/universitaet/dienstleistungen/universitaetsbibliothek/teilbibliotheken/berner_ids_bibliotheken/b415/index_ger.html" target="_blank">Bern UB Schweizerische Osteuropabibliothek</a></li>
    <li><a href="https://www.phbern.ch/schule-und-weiterbildung/mediothek.html" target="_blank">Bern PH Weiterbildung und Medienbildung</a></li>
    <li><a href="https://www.hslu.ch/de-ch/technik-architektur/campus/bibliothek/" target="_blank">Luzern, Hochschule Luzern - Bibliothek Technik & Architektur</a></li>
    <li><a href="https://www.hslu.ch/de-ch/design-kunst/ueber-uns/kunst-und-designbibliothek/" target="_blank">Luzern, Hochschule Luzern - Kunst- und Designbibliothek</a></li>
    <li><a href="https://www.hslu.ch/de-ch/soziale-arbeit/campus/mediothek/" target="_blank">Luzern, Hochschule Luzern - Mediothek Soziale Arbeit</a></li>
    <li><a href="https://www.hslu.ch/de-ch/musik/campus/bibliothek/" target="_blank">Luzern, Hochschule Luzern – Musikbibliothek</a></li>
    <li><a href="http://www.zhbluzern.ch/index.php?id=1218" target="_blank">Luzern, Zentral- und Hochschulbibliothek Sempacherstrasse</a></li>
    <li><a href="http://www.zhbluzern.ch/index.php?id=1219" target="_blank">Luzern, Zentral- und Hochschulbibliothek UNI/PH-Gebäude</a></li>
    <li><a href="http://www.zhbluzern.ch/standorte/hochschule-luzern-informatik/" target="_blank">Luzern, Zentral- und Hochschulbibliothek, Bibliothek Hochschule Luzern – Informatik</a></li>
    <li><a href="http://www.zhbluzern.ch/standorte/hochschule-luzern-wirtschaft/" target="_blank">Luzern, Zentral- und Hochschulbibliothek Wirtschaft</a></li>
    <li><a href="http://www.unisg.ch/wissen/bibliothek" target="_blank">St. Gallen, HSG</a></li>
    <li><a href="http://www.sg.ch/home/kultur/kantonsbibliothek.html" target="_blank">St. Gallen, Kantonsbibliothek Vadiana</a></li>
    <li><a href="http://www.zb.uzh.ch" target="_blank">Zürich, Zentralbibliothek</a></li>
</ul>

<p><strong>Fees:</strong> CHF. 5.- per item. Fee is paid cash at pickup. Items not picked up will still be charged CHF 5.-.</p>
<p><strong>Delivery times:</strong> Items ordered online are picked-up daily via IDS delivery service (except on Saturdays) and normally delivered within two working days to the pick-up library of your choice. They can be picked up within one week of delivery.</p>

<h1>Internal Delivery</h1>
<p>The internal delivery service in <a href="http://www.ub.unibas.ch/ub-hauptbibliothek/dienstleistungen/ausleihe/kurier-und-fernleihe/" target="_blank">Basel</a> is free, and delivery takes one working day.</p>
<p>The internal delivery service in <a href="http://www.unibe.ch/universitaet/dienstleistungen/universitaetsbibliothek/service/ausleihe/kurier/index_ger.html" target="_blank">Bern</a> is free. Please check our <a href="http://www.unibe.ch/university/services/university_library/services/borrowing/courier/delivery_times_bernese_courier/index_eng.html" target="_blank">website</a> for delivery times.</p>

<h1>Document Delivery</h1>
<p><strong>Tariff:</strong> Sourced from Switzerland per 20 pages CHF 5.- </p>
<p><strong>Delivery times:</strong> Monday - Friday within 24 hours <br>
    More information:
    <a href="http://www.ub.unibas.ch/ub-hauptbibliothek/dienstleistungen/kopienversand/" target="_blank">Document Delivery Basel (German)</a> /
    <a href="http://www.unibe.ch/university/services/university_library/services/borrowing/interlibrary_loan___document_delivery/index_eng.html" target="_blank">Document Delivery Bern</a> </p>
