<h1>Ordering / Online-access</h1>
<h2>Ordering books etc.</h2>
<iframe width="230" height="160" src="https://tube.switch.ch/embed/94f0f8b8"  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
<ul>
    <li>In Books & more click on the title you want to order.</li>
    <li>Choose the library to order from.</li>
    <li>Click log in below the library's name.</li>
    <li>Choose order or order copy.</li>
    <li>Retrieval and delivery options vary depending on the library. Check details for more information <a href="<?= $this->url('help-page', ['topic' => 'delivery']); ?>"><?= $this->transEsc('helppage.delivery') ?></a></li>
    <li>If no options appear the item cannot be ordered from this library. Click on the icon <i class="fa fa-info-circle"></i> below location for library opening hours and address.</li>
</ul>
<h2>Access to electronic resources</h2>
<p>In Books & more search results can be filtered by choosing the available online choice. Click on a title to get direct access to the electronic full-text.</p>
<p>Articles & more offers the following options for full-text access:</p>
<p><i class="fa fa-external-link"></i> get-it: links directly to the full-text.</p>
<p><i class="fa fa-external-link"></i> SFX-Services: links to full-text access via the SFX menu. If no full-text is available alternative ordering options become available.</p>
<p>Access to electronic full-text from outside the university network is restricted for private customers. Nevertheless, via <i class="fa fa-external-link"></i> SFX-Services it is possible to order a copy of the text from your library (for a fee, see <a href="<?= $this->url('help-page', ['topic' => 'delivery']); ?>"><?= $this->transEsc('helppage.delivery') ?></a>).</p>
<p>Students and staff members of universities of Basel and Bern can connect to the university network via VPN from anywhere (<a href="http://mobile.unibas.ch" target="_blank">Basel</a>, <a href="http://unibe.ch/university/campus_and_infrastructure/rund_um_computer/internetzugang/access_to_internal_resources_via_vpn/index_eng.html" target="_blank">Bern</a>).</p>
<h2>Saving and editing titles and lists</h2>
<p><i class="fa fa-list-ul"></i> Save this title into a list</p>
<p><i class="fa fa-plus-square"></i> Save this search result permanently</p>
<p><i class="fa fa-rss"></i> Get notified via RSS feed if new results have become available for your search</p>
<p><i class="fa fa-envelope"></i> Forward this title/these results via e-mail</p>
<p><i class="fa fa-share"></i> Export this title/these results with the help of reference management software</p>
<p><i class="fa fa-pencil"></i> Show citation styles for this title</p>