<?php
/**
 * Record detail view
 */

  // Set up standard record scripts:
  $this->headScript()->appendFile("record.js");
  $this->headScript()->appendFile("check_save_statuses.js");

  // Add RDF header link if applicable:
  if ($this->export()->recordSupportsFormat($this->driver, 'RDF')) {
      $this->headLink()->appendAlternate($this->recordLink()->getActionUrl($this->driver, 'RDF'), 'application/rdf+xml', 'RDF Representation');
  }

  $lastSearchUrl = $this->getextendedlastsearchlink()->getEscapedLinkOnly(); //@todo necessary?

  // Set up breadcrumbs:
  $this->layout()->breadcrumbs = '<li>' . $this->searchMemory()->getLastSearchLink($this->transEsc('Search'), '', '</li> ') .
    '<li class="active">' . $this->recordLink()->getBreadcrumb($this->driver) . '</li> ';
  $this->layout()->title = $this->driver->getShortTitle();

  $sidebarContent = $this->render('record/sidebar/sidebar');
  $sidebarContentWithoutComments = preg_replace('/<!--(.*)-->|\\n/Us', '', $sidebarContent);
  $showSidebar = !empty($sidebarContentWithoutComments);
?>
<div class="<?=$this->layoutClass('mainbody')?>">
   <?php $col = '12'; $colSM = '12' ?>
  <div class="row detailToolbar">
    <?php if (isset($this->scrollData) && ($this->scrollData['previousRecord'] || $this->scrollData['nextRecord'])): ?>
        <?php $col = '4'; $colSM = '3' ?>

        <div class="pagination-container col-md-8 col-sm-9">
          <ul class="pagination hidden-print">
            <li class="page">
              <a>
                <?= $this->transEsc('Results') ?>:
              </a>
            </li>
            <?php if ($this->scrollData['previousRecord']): ?>
              <li>
                <a href="<?=$this->recordLink()->getUrl($this->scrollData['previousRecord'])?>" title="<?=$this->transEsc('Previous Search Result')?>"><i class="fa fa-caret-left"></i></a>
              </li>
            <?php else: ?>
              <li class="disabled"><a href="#"><i class="fa fa-caret-left"></i></a></li>
            <?php endif; ?>
              <li class="page-numbers">
                <a>
                  <span class="<?= $this->scrollData['previousRecord'] ? 'standard' : 'marked' ?>">
                    <?=$this->localizedNumber($this->scrollData['currentPosition']) ?>
                  </span>
                  <?= $this->transEsc('of') ?>
                  <span class="<?= $this->scrollData['nextRecord'] ? 'standard': 'marked' ?>">
                    <?=$this->localizedNumber($this->scrollData['resultTotal']) ?>
                  </span>
                </a>
              </li>
            <?php if ($this->scrollData['nextRecord']): ?>
              <li>
                <a href="<?=$this->recordLink()->getUrl($this->scrollData['nextRecord'])?>" title="<?=$this->transEsc('Next Search Result')?>"><i class="fa fa-caret-right"></i></a>
              </li>
            <?php else: ?>
              <li class="disabled"><a href="#"><i class="fa fa-caret-right"></i></a></li>
            <?php endif; ?>
          </ul>
        </div>
      <?php endif; ?>

      <div class="col-md-<?= $col ?> col-sm-<?= $colSM ?>">
        <?=$this->record($this->driver)->getToolbar()?>
      </div>
  </div>


  <div class="record recordId source<?=$this->escapeHtmlAttr($this->driver->getResourceSource())?>" id="record">
    <input type="hidden" value="<?=$this->escapeHtmlAttr($this->driver->getUniqueId())?>" class="hiddenId" id="record_id" />
    <input type="hidden" value="<?=$this->escapeHtmlAttr($this->driver->getResourceSource()) ?>" class="hiddenSource" />
    <?=$this->flashmessages()?>
    <?=$this->record($this->driver)->getCoreMetadata()?>
  </div>

  <div class="row">
  <?php if (count($this->tabs) > 0): ?>
    <a name="tabnav"></a>
    <ul class="recordTabs nav nav-tabs">
      <?php foreach ($this->tabs as $tab => $obj): ?>
      <?php // add current tab to breadcrumbs if applicable:
        $desc = $obj->getDescription();
        $isCurrent = (strtolower($this->activeTab) == strtolower($tab));
        if ($isCurrent) {
          $this->layout()->breadcrumbs .= '<li class="active">' . $this->transEsc($desc) . '</li>';
          $activeTabObj = $obj;
        }

        $tab_classes = [];
        if ($isCurrent) $tab_classes[] = 'active';
        if (!$obj->isVisible()) $tab_classes[] = 'hidden';
        $tab_classes[] = $this->record($this->driver)->getTabVisibility($tab);
      ?>

      <li<?=count($tab_classes) > 0 ? ' class="' . implode(' ', $tab_classes) . '"' : ''?>>
        <a id="<?=strtolower($tab) ?>" href="<?=$this->recordLink()->getTabUrl($this->driver, $tab)?>#tabnav"><?=$this->transEsc($desc)?></a>
      </li>
      <?php endforeach; ?>
    </ul>
  <?php endif; ?>

    <div class="tab-content" id="record-tabs">
      <div class="tab-pane active" id="<?=$this->activeTab ?>-tab">
        <?=isset($activeTabObj) ? $this->record($this->driver)->getTab($activeTabObj) : '' ?>
      </div>
    </div>
  </div>

  <span class="Z3988" title="<?=$this->escapeHtmlAttr($this->driver->getOpenURL())?>"></span>
</div>

<?php if ($showSidebar): ?>
    <div class="<?=$this->layoutClass('sidebar') ?>">
        <?= $sidebarContent;?>
    </div>
<?php else: ?>
    <div class="<?=$this->layoutClass('sidebar') . ' invisible' ?>"></div>
    <script>OffCanvas.isActive = false;</script>
<?php endif; ?>
