<div class="home-content-box">
    <h2 class="lead">Qu'advient-il de swissbib ces prochaines années ?</h2>
  <p>2018 a été une année riche en événements pour swissbib. Rien de moins que l'avenir et la poursuite de l'exploitation au cours des prochaines années étaient à l'ordre du jour. <a href="http://swissbib.blogspot.com/2018/03/die-schweizer-bibliotheken-unterstutzen.html">Déjà en mars</a>, nous avons rendu compte de la campagne de financement pour laquelle nous avons contacté par écrit toutes les bibliothèques, archives et centres de documentation, dont les fonds sont consultables sur swissbib et pour lesquels un soutien financier leur a été demandé.
</p>
    <a href="https://swissbib.blogspot.com/2018/11/was-kommt-die-kommenden-jahre-auf.html" target="_blank" class="btn btn-link">Plus d'informations</a>
</div>